@import '~bootue/src/_core/variables';
@import '~bootue/src/_core/mixins';

iframe {
  width: 100%;
  min-height: 100vh;
  border: none;

  @media only screen and (max-width: $screen-xs-max) {
    min-height: 40vh;
  }
}




