<div>

  <div class="pb10">
    <div class="mt20 pb10">
      <h3 class="col-sm-6 col-xs-12 mt0">
        <span class="text-capitalize">{{model.name}}</span>
      </h3>
      <div class="col-sm-6 col-xs-12 text-right hidden-xs">
        <b>Export to: </b>
        <button class="btn btn-primary btn-xs" @click="down(item)" v-for="item, key in dwn" :key="key" v-if="dwn">
          <i class="fa fa-download"></i> {{item.label}}
        </button>
         |
        <b>Shared: </b>
        <button class="btn btn-primary btn-xs" @click="$parent.editS()">
          <i class="fa fa-share"></i> Embed
        </button>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>

  <div class="col-xs-12" v-if="model.status == 'finished'">
    <iframe :src="make_request()"></iframe>

    <a :href="make_request()" target="_blank" class="btn btn-primary btn-xs pull-right">Open in new tab</a>
  </div>

  <div class="col-xs-12" v-if="model.status != 'finished'">
    <well>
      The graph its not complete -
      <status :status="model.status"></status>
    </well>
  </div>
</div>
