<div>

  <div class="pb10">
    <div class="mt20 pb10">
      <h3 class="col-sm-6 col-xs-12 mt0">
        <span class="hidden-xs">{{entity.name}} - </span><span class="text-capitalize">{{model.name}}</span>
      </h3>
      <div class="col-sm-6 col-xs-12 text-right">
        <b>Export to:</b>
        <template v-for="item in dwn" v-key="item">
            <button class="btn btn-primary btn-xs" @click="event(item)">
              <i class="fa fa-download"></i> {{item}}
            </button> | 
        </template>
        |
        <b>Shared:</b>
        <button class="btn btn-primary btn-xs" @click="event(item)">
          <i class="fa fa-share"></i> Embed
        </button>
      </div>
    
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="col-xs-12" v-if="model.status == 'finished'">
      <iframe :src="src"></iframe>
  </div>

  <div class="col-xs-12" v-if="model.status != 'finished'">
      <well>
        The graph its not complete -
        <span class="btn btn-success btn-xs text-capitalize" v-if="model.status == 'finished'">
          <i class="fa fa-check-circle-o"></i> {{model.status}}</span>
        <span class="btn btn-danger btn-xs text-capitalize" v-if="model.status == 'error'">
          <i class="fa fa-times-circle-o"></i> {{model.status}}</span>
        <span class="btn btn-warning btn-xs text-capitalize" v-if="model.status== 'process'">
          <i class="fa fa-circle-o"></i> {{model.status}}</span>
      </well>
  </div>
</div>
