<div>
  <div class="pb10">
    <header-view-entity label="Client" :name="model.name" @del="del" @edit="edit()" @acl="acl"></header-view-entity>
  </div>

  <div class="col-xs-6">
    <info-view :data="filtered"></info-view>
  </div>

  <div class="col-xs-6">

    <creater-config-list label="System" :basket="list_system" @edit="editM" icons="fa-briefcase">
      <template slot="view" slot-scope="props">
        <router-link :to="{name: 'system.single', params: { id: props.item._id }}">
          <b class="text-capitalize">{{props.item.name}}</b>
        </router-link>
      </template>
    </creater-config-list>

    <creater-config-list label="Contact" :basket="model.contacts" @edit="edit" :index="1" icons="fa-commenting-o">
      <template slot="view" slot-scope="props">
        <bs-label>{{props.item.channel}}</bs-label>
        - {{props.item.value}}
      </template>
    </creater-config-list>

    <creater-config-list label="Tag" :basket="model.tags" @edit="edit" :index="2" icons="fa-tags">
      <template slot="view" slot-scope="props">
        <bs-label>{{props.item.key}}</bs-label>
        - {{props.item.value}}
      </template>
    </creater-config-list>

  </div>

</div>
