<div>
  <div class="pb10">
    <header-view-entity label="Connection" :name="model.dc" @del="del" @edit="edit()" @acl="acl"></header-view-entity>
  </div>

  <div class="col-sm-4 col-xs-12">
    <h4>Status ({{status}})</h4>
    <button class="btn btn-success" v-if="status !== 'enabled'" @click="enable('enabled')">
      <i class="fa fa-toggle-on"></i>
      Enabled
    </button>
    <button class="btn btn-danger" v-if="status !== 'disabled'" @click="enable('disabled')">
      <i class="fa fa-toggle-off"></i>
      Disabled
    </button>

    <hr>

    <h4>Access user/team owner</h4>
    <p>The crawler uses this user/team to find, insert and update entities.</p>

    <bs-select :options="formatOwnerUsers" options-label="name" value-label="_id"
               label="User/Teams" placeholder="Select ACL Owner" v-model="owner_user"></bs-select>
    <div class="text-right">
      <button class="btn btn-primary" @click="saveOwner">Save</button>
    </div>

    <hr>

    <h4>Templates ACL</h4>
    <p>When crawler create a new entity, they copy this acl template.</p>
    <button class="btn btn-primary" @click="acl">ACL template</button>

    <hr>

    <info-view :data="filtered"></info-view>
  </div>

  <div class="col-sm-8 col-xs-12">
    <h3><i class="fa fa-key" aria-hidden="true"></i> Tasks and Permissions</h3>

    <bs-list>
      <li class="list-group-item" v-for="item, key in permissions">

        <div class="row">
          <div class="col-sm-6 col-xs-12">

            <h4 class="text-capitalize">
              {{key}}
              <label v-if="item.msg" class="label btn-sm" :class="'label-'+item.state">{{item.state}}</label>
            </h4>
          </div>

          <div class="col-sm-6 col-xs-12 text-right">
            <template v-for="job in schedulers[key]" v-key="job._id">
              <tooltip effect="scale" placement="bottom" :content="`Job: ${job.name} (${job._id})`">
                <button class="btn btn-xs btn-success" v-if="job.enabled" @click="processEnable(job, false)">
                  <i class="fa fa-toggle-on"></i>
                  On
                </button>
                <button class="btn btn-xs btn-danger" v-if="!job.enabled" @click="processEnable(job, true)">
                  <i class="fa fa-toggle-off"></i>
                  Off
                </button>
              </tooltip>
            </template>
            <template v-if="!schedulers[key]">
              <button class="btn btn-xs btn-warning" @click="createJob(key)">
                <i class="fa fa-toggle-off"></i>
                Missing job
              </button>
            </template>
            |
            <tooltip effect="scale" placement="bottom" content="Force to sync">
              <button class="btn btn-xs btn-success" @click="task(key, 'parcial')">
                <i class="fa fa-hourglass-end"></i>
                Sync
              </button>
            </tooltip>
          </div>
        </div>

        <alert v-if="item.msg" class="alert mt5" :class="'alert-'+item.state">
          {{item.msg}}
        </alert>

        <strong class="row col-xs-12 mt10">Permissions Required:</strong>
        <template v-for="req in item">
          <bs-label type="default">{{req.command}} {{req.access}}</bs-label>&nbsp;
        </template>
      </li>
    </bs-list>
  </div>

</div>
