<div>

  <modal :title="text.title" effect="fade" width="800" v-model="showModal" @closed="closed" @opened="reset">

    <form class="row form-horizontal" @submit.prevent="createSave">

      <tabs v-model="tabShow" nav-style="tabs" justified class="col-xs-12">

        <!-- ================= General ================= -->
        <!-- ============================================== -->
        <tab header="General">
          <bs-input class="mt20" form-type="horizontal" name="name" label="Name*" v-model="data.name"
                    v-validate.initial="'required'" :error="makeError('name')"></bs-input>

          <hr>
          <h5 class="col-xs-12">Choose the families belongs:</h5>

          <creater-list :single.sync="family" :basket.sync="families" :show-add-btn="false" label="Family">

            <template slot="forms">
              <form>
                <bs-select :options="options.families" v-model="family" name="family" form-type="horizontal"
                           label="Add family" @input="addFamily" class="mt10"></bs-select>
              </form>
            </template>

            <template slot="view" slot-scope="props">
              {{props.item}}
            </template>

          </creater-list>


        </tab>

        <!-- ================= Tags ================= -->
        <!-- ============================================== -->
        <tab header="Tags">
          <tab-items @update="val => data.tags = val" ref="tab_items" label="Tags"></tab-items>
        </tab>
      </tabs>

    </form>


    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="closed">Cancel</button>
      <button type="button" class="btn btn-primary" @click="actionClick" :disabled="errors.any()">Save</button>
    </div>

  </modal>

</div>
