<div>
  <div class="pb10">
    <header-view-entity label="Datacenter" 
      :name="model.name" :id="model._id" :entity="getName" @del="del"
      @edit="edit()" @acl="acl">
    </header-view-entity>
  </div>

  <div class="col-xs-12">

    <alert type="warning" class="col-sm-12 well-white text-center mt10" v-if="!model.reports">
      <p>You can activated datacenters analytics.</p>
      <button type="button" class="btn btn-primary" @click="activateAnalytics()">Activate Datacenter Analytics</button>
    </alert>

    <alert type="warning" class="col-sm-12 well-white text-center mt10" v-if="waitMessage">
        <p>All report are in process, being finishe we will notify, you can reload your browser.</p>
    </alert>

    <router-view />

  </div>

</div>