<form>
  <div class="col-xs-12">
    <div class="col-xs-12 text-center">
      <img src="/static/imgs/logo300.png" alt="Maestro - Login"
           class="text-center img-responsive-center"/><br/>
    </div>

    <bs-input
      label="Email"
      v-model="model.email"
      v-validate.initial="'required|email'"
      name="email"
      @keydown.enter="login"
      :error="makeError('email')"
    ></bs-input>

    <bs-input
      type="password"
      label="Password"
      v-model="model.password"
      v-validate.initial="'required|min:4'"
      name="password"
      @keydown.enter="login"
      :error="makeError('password')"
    ></bs-input>


    <button type="button" class="btn btn-primary pull-right" :disabled="errors.any()" @click="login">Sign in</button>
  </div>

  <div class="col-xs-12">
    <p>
      <router-link :to="{name: 'create-user'}" class="btn btn-default">Create a account</router-link>
    </p>
    <p>
      <router-link :to="{name: 'forgot-password'}" class="btn btn-default">Forgot password</router-link>
    </p>
  </div>
</form>
