<div>
  <modal :title="text.title" effect="fade" width="800" v-model="showModal" @closed="closed">

    <form class="form-horizontal">

      <section class="row">

        <div class="col-xs-12">
          <bs-input form-type="horizontal" label="Name" name="name"
                    v-model="model.name" v-validate.initial="'required'"
                    data-vv-slot-scope="modals" :error="makeError('name', 'modals')"
          ></bs-input>
        </div>

        <div class="col-xs-12 text-right clearfix">
          <button v-if="!ownProvider" type="button" class="btn btn-primary btn-xs" @click="changeProvider(true)" :disabled="!this.create">I have my own Provider</button>
          <button v-if="ownProvider" type="button" class="btn btn-warning btn-xs" @click="changeProvider(false)" :disabled="!this.create">Back to Cloud providers</button>
        </div>

        <div class="col-xs-12 mt10">
          <bs-select v-if="!ownProvider" form-type="horizontal" :options="options.provider" v-model="provider" name="provider"
                     label="Provider" :disabled="!this.create" @input="clearItems"></bs-select>

          <bs-input v-if="ownProvider" form-type="horizontal" label="Provider" name="provider" v-model="provider"></bs-input>


          <div class="row">
            <div class="col-xs-3 text-right mt5">
              <label>Regions</label>
            </div>
            <div class="col-xs-9">
              <button class="btn btn-primary btn-sm" @click.stop.prevent="setupModalRegions" :disabled="!provider">
                <i class="fa fa-cloud-upload"></i> Manange Regions</button>
              {{regions.length}} regions avaliable
            </div>
          </div>

          <div class="row mt20">
            <div class="col-xs-3 text-right mt5">
              <label>Zones</label>
            </div>
            <div class="col-xs-9">
              <button class="btn btn-primary btn-sm" @click.stop.prevent="showModalZones = true" :disabled="regions.length == 0">
                <i class="fa fa-bullseye"></i> Manange Zones</button>
              {{zones.length}} zones avaliable
            </div>
          </div>
        </div>

      </section>

    </form>

    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="closed">Cancel</button>
      <button type="button" class="btn btn-primary" @click="actionClick"
              :disabled="errors.any('modals')">Save
      </button>
    </div>

  </modal>


  <modal :title="'Regions ' + provider" effect="fade" v-model="showModalRegions" @closed="showModalRegions = false" sub-modal small>
    <div class="row">
      <div class="col-xs-12">
        <small>Choose and delimit which regions can be used.</small>
      </div>
    </div>

    <creater-list :single.sync="region" :basket.sync="regions" :show-add-btn="false" label="Region">

      <template slot="forms">
        <form v-if="options.regions.length > 0">
          <bs-select :options="options.regions" v-model="region"
                     label="Region" class="mt10"></bs-select>
        </form>

        <form v-if="options.regions.length == 0">
          <bs-input class="mt10" v-model="regionT" label="Region" placeholder="sa-east-1"></bs-input>
          <a href="#" @click.prevent.stop="addItemToTmpList('region', 'regionT')" class="btn btn-primary btn-sm pull-left"><i
            class="fa fa-plus-circle"></i> Region</a>
        </form>
      </template>

      <template slot="view" slot-scope="props">
        {{props.item}}
      </template>

    </creater-list>


    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-danger" @click="clearItems">Clear Regions</button>
      <button type="button" class="btn btn-primary" @click="submitRegions">Add Regions</button>
    </div>
  </modal>

  <modal :title="'Zones ' + provider" effect="fade" v-model="showModalZones" @closed="showModalZones = false" sub-modal small>
    <div class="row">
      <div class="col-xs-12">
        <small>Choose and delimit  which zones can be used.</small>
      </div>
    </div>

    <creater-list :single.sync="zone" :basket.sync="zones" :show-add-btn="false" label="Zone">

      <template slot="forms">
        <form v-if="options.zones.length >  0">
          <bs-select :options="options.zones" v-model="zone"
                     label="Region" class="mt10"></bs-select>
        </form>

        <form v-if="options.zones.length == 0">
          <bs-input class="mt10" v-model="zoneT" label="Zone" placeholder="sa-east-1a"></bs-input>
          <a href="#" @click.prevent.stop="addItemToTmpList('zone', 'zoneT')" class="btn btn-primary btn-sm pull-left"><i
            class="fa fa-plus-circle"></i> Zone</a>
        </form>
      </template>

      <template slot="view" slot-scope="props">
        {{props.item}}
      </template>

    </creater-list>

    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-danger" @click="clearItems">Clear Zones</button>
      <button type="button" class="btn btn-primary" @click="showModalZones = false">Add Zones</button>
    </div>
  </modal>
</div>
