<div>
  <h3 class="col-xs-6 pb10">
    {{label}} - <span class="text-capitalize">{{name}}</span>
  </h3>
  <div class="col-xs-6 pb10 mt20 text-right">
    <button class="btn btn-warning" @click="event('acl')"><i aria-hidden="true" class="fa fa-code"></i> Edit ACL</button>
    <button class="btn btn-success" @click="event('edit')"><i class="fa fa-edit"></i> Edit <span class="text-capitalize">{{name}}</span>
    </button>
    <button class="btn btn-danger" @click="event('del')"><i class="fa fa-trash"></i> Delete {{label}}</button>
  </div>

  <div class="clearfix"></div>
</div>
