<div>
  <modal :title="text.title" effect="fade" width="800" v-model="showModal" @closed="closed">

    <template>
      <p>
        Configure yours connections, <br>you able to use multiple connections with single datacenter.
        <button class="btn btn-warning btn-sm pull-right" @click="createLoad" v-if="provider">Back</button>
      </p>

      <list-options :lists="providers" @click="callStep" v-if="!provider"></list-options>

      <form class="row">

        <h3 class="col-xs-12" v-if="provider">
          <i :class="toIcon"></i>
          <span class="text-uppercase">{{provider}}</span>
        </h3>

        <template v-if="provider == 'AWS'">
          <div class="col-xs-6">
            <p>
              Please add your AWS Access Key ID and Secret Access Key.
            </p>

            <bs-select v-if="dcs.length > 0" :options="dcs" v-model="data.dc"
                       label="Datacenter" placeholder="Select Datacenter" @input="updateProvider"
                       ref="s_provider"></bs-select>

            <bs-select :disabled="this.regions.length == 0" :options="regions" v-model="data.regions"
                       label="Regions" placeholder="Select Regions" multiple></bs-select>

            <div class="well" v-if="!create">
              If you like to update the access provider, please delete this connection and create a new one.
            </div>

            <template v-if="create">
              <bs-input class="mt20" name="access" label="AWS AccessKey ID*" v-model="data.conn.access"
                        v-validate.initial="'required'" :error="makeError('access')"></bs-input>

              <bs-input type="password" class="mt20" name="secret" label="AWS SecretAccess Key*" v-model="data.conn.secret"
                        v-validate.initial="'required'" :error="makeError('secret')"></bs-input>
            </template>

          </div>
          <div class="col-xs-6">
            <p>
              Just copy the following code and paste it under your Policy Document at AWS Console.
            </p>
            <div class="well">
              <small>
                {
                "Version": "2012-10-17",
                "Statement": [
                {
                "Effect": "Allow",
                "Action": [
                "ec2:RunInstances",
                "ec2:AssociateIamInstanceProfile",
                "ec2:ReplaceIamInstanceProfileAssociation"
                ],
                "Resource": "*"
                },
                {
                "Effect": "Allow",
                "Action": "iam:PassRole",
                "Resource": "*"
                }
                ]
                }
              </small>
            </div>
          </div>
        </template>

        <template v-if="provider == 'OpenStack'">
          <div class="col-xs-6">
            <bs-select v-if="dcs.length > 0" :options="dcs" v-model="data.dc"
                       label="Datacenter" placeholder="Select Datacenter" @input="updateProvider"
                       ref="s_provider"></bs-select>

            <bs-select :disabled="this.regions.length == 0" :options="regions" v-model="data.regions"
                       label="Regions" placeholder="Select Regions" multiple></bs-select>
          </div>

          <div class="col-xs-6">
            <template v-if="create">
              <bs-input name="username" label="Username*" v-model="data.conn.username"
                        v-validate.initial="'required'" :error="makeError('username')"></bs-input>

              <bs-input type="password" class="mt20" name="password" label="Password*" v-model="data.conn.password"
                        v-validate.initial="'required'" :error="makeError('password')"></bs-input>
            </template>

            <div class="well" v-if="!create">
              If you like to update or password, please delete this connection and create a new one.
            </div>
          </div>


          <div class="col-xs-12">
            <bs-input name="url" label="Auth URL*" v-model="data.url"
                      v-validate.initial="'required'" :error="makeError('url')"
                      help="Its a keystone url"
                      placeholder="https://keystone.br-maestro-server.com.br:5000/v2.0"
            ></bs-input>

            <bs-input class="mt10" name="project" label="Project Name*" v-model="data.project"
                      v-validate.initial="'required'" :error="makeError('project')"></bs-input>

              <p>Hit: All information may be found in Access & Security page inside of GUI OpenStack</p>
          </div>
        </template>


      </form>
    </template>

    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="closed">Cancel</button>
      <button type="button" class="btn btn-primary" @click="actionClick">Save
      </button>
    </div>

  </modal>
</div>
