
@import '~bootue/src/_core/variables';
@import '~bootue/src/_core/mixins';

$dp-item-width: 110px;

.no-margin {
  margin: 0;
}

.no-pad {
  padding: 0 20px;
}

.dp-container {
    display: flex;
    justify-content: center;
    background: #f9f9f9;
    flex-direction: column;

    .dp-wrapper {
      position: relative;

      &:before {
        content: "";
        display: inline-block;
        width: 2px;
        height: 30px;
        position: absolute;
        top: -35px;
        margin-left: 50%;
        left: -1px;

        background: $brand-primary;
        @include themify($themes) {
          background: themed('brand-primary');
        }
      }
    }

    .dp-row {
        display: flex;
        justify-content: center;
        flex-direction: row;
        background: #d6d6d6;
        
        padding: 6px 0;
        overflow-x: auto;
        overflow-y: hidden;

        .dp-item {
            width: $dp-item-width;
            color: #fff;
            padding: 10px 8px;
            margin: 5px;
            cursor: pointer;
            border-radius: 6px;
            box-shadow: 1px 1px 20px #848484;
            position: relative;

            background: $brand-primary;
            @include themify($themes) {
              background: themed('brand-primary');
            }

          .dst {
            padding: 3px;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.3);
          }

          &:before {
            content: "";
            display: inline-block;
            width: 2px;
            height: 12px;
            position: absolute;
            top: -11px;
            left: ($dp-item-width/2)-1;

            background: $brand-primary;
            @include themify($themes) {
              background: themed('brand-primary');
            }
          }

          &:after {
            content: "";
            display: inline-block;
            width: 2px;
            height: 12px;
            position: absolute;
            bottom: -11px;
            left: ($dp-item-width/2)-1;

            background: $brand-primary;
            @include themify($themes) {
              background: themed('brand-primary');
            }
          }
        }

        .dp-select {
          &:before {
            width: 2px;
            height: 13px;
            top: -13px;
            left: ($dp-item-width/2)-3;
          }

          &:after {
            width: 2px;
            height: 13px;
            bottom: -13px;
            left: ($dp-item-width/2)-3;
            box-shadow: 1px 1px 6px #000;
          }

          box-shadow: 1px 1px 20px #000;
          border: 2px solid #fff;

          background: $brand-primary-darker;
          @include themify($themes) {
            background: themed('brand-primary-darker');
          }
        }
    }

    .dp-wrapper:first-child {
      .dp-row {
        background: #eaeaea;
      }

      &:before {
        display: none;
      }
    }

    .dp-lines-t {
      display: block;
      margin: 0 auto;
      height: 2px;
      background: $brand-primary;
      box-shadow: 1px 1px 6px #000;
      @include themify($themes) {
        background: themed('brand-primary');
      }
    }

    .dp-lines-b {
      display: block;
      margin: 0 auto 35px;

      height: 2px;
      background: $brand-primary;
      box-shadow: 1px 1px 6px #000;
      @include themify($themes) {
        background: themed('brand-primary');
      }
    }

    .dp-row-no {
        background: none;
    }

    .more {
        text-align: center;
        width: 30px;
        line-height: 30px;
        height: 30px;
        margin: auto 10px;
        position: relative;
        display: inline-block;
        background: #fff;
        border-radius: 20px;

        font-weight: bold;
        box-shadow: 0 0 20px #848484;
        cursor: pointer;
        text-decoration: none;

        color: $brand-primary;
        @include themify($themes) {
            color: themed('brand-primary');
        }
    }

    .more-del {
      width: 16px;
      height: 16px;
      line-height: 16px;
      left: 100%;
      margin-left: -10px;
      color: #fff;

      background: $brand-danger;
      box-shadow: 0 1px 4px #000;
      position: absolute;
      bottom: 5px;
      font-size: 10px;
    }

    .more-del:hover {
      background: #fff;
      color: $brand-danger;
    }

    .more-right {
      position: absolute;
      margin: 0 50%;
      top: -25px;
      left: -15px;
    }

    .more:hover {
        background: #ededed;
    }

    h5 {
      word-wrap: break-word;
    }
}