<div>
  <p class="col-xs-12 no-margin">
    Entry point
  </p>

  <div class="col-xs-12 col-sm-8 dp-container">
    <dprow
      v-for="item, k in grid"
      :key="k"
      :ref="'line_' + k"
      :apps="item"
      :step="k"
      :parent_id="item.parent_id"
      :types="options.protocol"
      @addRow="addRow"
      @deleteItem="deleteItem"
      @deleteRow="deleteRow"
      @commitItem="commitItem"
    />
  </div>

  <div class="col-sm-4 hidden-xs">
    <well v-if="isEmpty">
      <h4 class="primary">
        <i
          class="fa fa-question-circle"
          aria-hidden="true"
        />
        <strong>Tips</strong>
      </h4>

      <ul class="no-pad">
        <li>Can create a dependency tree between all applications.</li>
        <li>Select and active any app, after clicking on the plus and add any dependency.</li>
        <li>Dependency tree its used to created business graphs, a relation between apps and services.</li>
      </ul>
    </well>

    <info-view
      :data="app"
      :title="false"
    />
  </div>

  <div
    class="btn-fixed text-center"
    :class="{'btn-fixed-hidden': isEmpty}"
  >
    <button
      class="btn btn-primary"
      @click="save"
    >
      Commit - Tree Dependency
    </button>
  </div>
</div>
