<div>

  <modal title="Regions" effect="fade" v-model="showModal" @closed="closed" @opened="reset">
    <div class="row">
      <div class="col-xs-12">
        <small>Choose and delimit which regions can be used.</small>
      </div>
    </div>


    <tab-items @update="val => regions = val" label="Region" fielder="region" ref="tab_items">
      <template slot="list" slot-scope="props">

        <div class="listRegions">
          <accordion type="default">
            <panel>
              <span slot="header">
                <b class="text-capitalize">{{props.item.item.region}}</b>
                <template v-if="props.item.item.zones">({{props.item.item.zones.length}})</template>
              </span>

              <tab-array-items @update="val => props.item.item.zones" label="Zone" :default-value="props.item.item.zones"></tab-array-items>
            </panel>
          </accordion>
        </div>

      </template>
    </tab-items>

    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-danger" @click="closed">Close</button>
      <button type="button" class="btn btn-primary" @click="actionClick">Add Regions</button>
    </div>
  </modal>
</div>
