<div>

  <div class="text-right" v-if="$parent.model && $parent.model.reports">
      <button type="button" class="btn btn-primary btn-xs" @click="updateAnalytics()">
          <i class="fa fa-refresh"/>
        Update Report</button>

      <button type="button" class="btn btn-danger btn-xs" @click="$parent.activateAnalytics()">
          <i class="fa fa-trash"/>
        Force to recreate</button>
  </div>

  <div class="row" v-if="$parent.model && $parent.model.reports">
    <div class="col-xs-6 mt10">
      <router-link :to="{name: 'datacenters.analytics' }" class="btn btn-info col-xs-12">By Servers</router-link>
    </div>
    <div class="col-xs-6 mt10">
      <router-link :to="{ name: 'datacenters.analytics.apps' }" class="btn btn-info col-xs-12">By Applications
      </router-link>
    </div>
  </div>


  <alert type="warning" class="col-sm-12 text-center mt10" v-if="report.status == 'process'">
    This report its no ready.<br />
    Report name: {{report.name}}<br />
    Status: {{report.status}}
  </alert>

  <alert type="warning" class="col-sm-12 well-white text-center mt10" v-if="isEmpty(report.aggr) && report.status != 'process'">
    <p>Empty results.</p>
  </alert>


  <div v-if="report.status == 'finished'">

    <hr>

    <div class="col-xs-12">
      <h2 class="pull-left mt0">By {{component}}</h2>
      <p class="pull-right"><b>Last Update {{formatDate(model.updated_at)}}</b></p>
    </div>

    <template v-for="chart in charts">

      <div class="wrapper-charts" :class="size(chart)">

        <div class="bg-charts">
          <template v-if="type(chart) == 'pie'">
            <pie-chart :data="transfData(chart)" :options="transfOptions(chart)"></pie-chart>
          </template>

          <template v-if="type(chart) == 'doughnut'">
            <doughnut-chart :data="transfData(chart)" :options="transfOptions(chart)"></doughnut-chart>
          </template>

          <template v-if="type(chart) == 'bar'">
            <bar-chart :data="transfData(chart)" :options="transfOptions(chart)"></bar-chart>
          </template>

          <template v-if="type(chart) == 'total'">
            <total-chart :data="transfData(chart)" :options="transfOptions(chart)"></total-chart>
          </template>

          <template v-if="type(chart) == 'polar'">
            <polar-chart :data="transfData(chart)" :options="transfOptions(chart)"></polar-chart>
          </template>
        </div>
      </div>
    </template>
  </div>
</div>
