<div>
  <div class="pb10">
    <h3 class="col-xs-8 pb10">
      {{title}}
    </h3>
    <div class="col-xs-4 pb10 mt20">
      <button class="btn btn-primary pull-right" @click="addE">New apps</button>
    </div>
  </div>

  <div class="col-xs-12">

    <panel v-for="architecture in result.items" :key="architecture._id">
      <div class="col-xs-4">
        <h3 class="mt0">{{architecture.name}}</h3>
        <button class="btn btn-primary btn-sm" @click.stop="editE(architecture)">
          <i class="fa fa-pencil" aria-hidden="true"></i> Edit architecture
        </button>
        <button class="btn btn-danger btn-sm" @click.stop="deleteE(architecture)">
          <i class="fa fa-trash" aria-hidden="true"></i> Delete architecture
        </button>
      </div>
      <div class="col-xs-8 text-right">

        <button class="btn btn-default btn-xs">
          <i class="fa fa-server" aria-hidden="true"></i> Servers/Applications <span class="badge">{{architecture.count || 0}}</span>
        </button>
      </div>
    </panel>


    <div class="text-center">
      <pagination :total_pages="result.total_pages" :current_page="result.current_page"
                  @changePage="changePage"></pagination>
    </div>

    <div class="text-center" v-if="result.found == 0">
      <well>
        <h4>You dont have any application, Do you like to create one?</h4>
        <hr/>
        <button class="btn btn-primary btn-lg" @click.stop="addE">Create new apps</button>

      </well>
    </div>

  </div>

  <modal-create class="mt15" ref="modal_create"></modal-create>
  <modal-delete class="mt15" ref="modal_delete"></modal-delete>
</div>
