<div>

  <modal :title="text.title" effect="fade" width="800" v-model="showModal" @closed="closed" @opened="reset">

    <form class="row form-horizontal" @submit.prevent="createSave">

      <tabs v-model="tabShow" nav-style="tabs" justified class="col-xs-12">

        <!-- ================= General ================= -->
        <!-- ============================================== -->
        <tab header="General">
          <div class="row">

            <div class="col-xs-12">

              <bs-input class="mt20" form-type="horizontal" name="name" label="Name*" v-model="data.name"
                        v-validate.initial="'required'" :error="makeError('name')" @blur="verifyDuplicate">

                <template slot="dropper" v-if="duplicate.name">
                  <span class="btn btn-danger btn-xs col-xs-12 mt5">{{duplicate.name}}</span>
                </template>
              </bs-input>

              <bs-input type="textarea" class="mt20" form-type="horizontal" name="description" label="Descripition" v-model="data.description"
              ></bs-input>


            </div>

          </div>
        </tab>

        <!-- ================= Endpoints ================= -->
        <!-- ============================================== -->
        <tab header="Entry points">
          <tab-endpoint :types="options.check" @update="val => data.entry = val" ref="tab_endpoint">
            <template slot="label">
              <well size="sm">
                Entry points are root access of the system represented as applications, can be cdns, proxies and loadbalances, vpns, file systems and webservices. Entry point it's used as a start point to make de dependency graph of the system.
                <a href="http://docs.maestroserver.io/en/latest/userguide/graphs/bussiness_graphs.html#entries-applications" target="_blank">See more</a>
              </well>
            </template>
          </tab-endpoint>
        </tab>

        <!-- ================= Clients ================= -->
        <!-- ============================================== -->
        <tab header="Clients">
          <tab-clients @update="val => data.clients = val" ref="tab_clients"></tab-clients>
        </tab>


        <!-- ================= Tags ================= -->
        <!-- ============================================== -->
        <tab header="Tags">
          <tab-tags @update="val => data.tags = val" ref="tab_tags"></tab-tags>
        </tab>
      </tabs>

    </form>


    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="closed">Cancel</button>
      <button type="button" class="btn btn-primary" @click="actionClick" :disabled="errors.any()">Save</button>
    </div>

  </modal>

</div>
