.sidebar-menu {
  z-index: 1000;
  position: fixed;
  left: 0;
  width: 0;
  height: 100%;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  width: 250px;
}

.sidebar-menu {

}
