@import '../../../../resources/sass/variables';

.sidebar-menu {
  z-index: 1000;
  position: fixed;
  left: 0;
  width: 0;
  height: 100%;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  width: 230px;

  background: $dark-purple;

  header {
    background: darken($dark-purple, 5%);
    padding: 14px 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: 1px solid lighten($dark-purple, 10%);
  }

  .nav {
    margin-top: 15px;

    li {
      border-bottom: 1px solid lighten($dark-purple, 20%);

      a {
        font-size: 16px;
        color: darken($white, 12%);

        small {
          font-size: 12px;
          color: darken($white, 40%);
          padding-left: 27px;
        }

        &:hover {
          background: darken($dark-purple, 15%);
        }
      }

      .figure {
        width: 24px;
        display: inline-block;
      }

    }

  }


  &.minified {
    left: -230px;
  }


}
