<div>

  <modal :title="text.title" effect="fade" width="800" v-model="showModal" @closed="closed">

    <form class="row form-horizontal">

      <tabs nav-style="tabs" justified class="col-xs-12">

        <!-- ================= General ================= -->
        <!-- ============================================== -->
        <tab header="General">
          <div class="row">
            <div class="col-xs-3 text-right mt5">
              <label>Status</label>
            </div>
            <div class="col-xs-9">
              <button-group v-model="server.status" type="primary">
                <bs-radio v-for="sts, i in options.status" :key="sts" :selected-value="sts">{{sts}}</bs-radio>
              </button-group>
            </div>
          </div>

          <bs-input class="mt20" form-type="horizontal" name="hostname" label="Hostname*" v-model="server.hostname"
                    v-validate.initial="'required'" :error="makeError('hostname')"></bs-input>
          <bs-input form-type="horizontal" name="ipv4_private" label="IP Private*" v-model="server.ipv4_private"
                    v-validate="'required|ip'" :error="makeError('ipv4_private')"></bs-input>
          <bs-input form-type="horizontal" name="ipv4_public" label="IP Public" v-model="server.ipv4_public"
                    v-validate.initial="'ip'" :error="makeError('ipv4_public')"></bs-input>
          <bs-input form-type="horizontal" name="cpu" label="CPU (cores)" v-model="server.cpu"
                    v-validate.initial="'numeric'" :error="makeError('cpu')"></bs-input>
          <bs-input form-type="horizontal" name="memory" label="Memory (GB)" v-model="server.memory"
                    v-validate.initial="'numeric'" :error="makeError('memory')"></bs-input>

          <hr/>

          <bs-select form-type="horizontal" :options="options.environment" v-model="server.environment" name="environment"
                     label="Environment*" v-validate.initial="'required'" :error="makeError('environment')"></bs-select>
          <bs-select form-type="horizontal" :options="options.role" v-model="server.role" name="role"
                     label="Role*" v-validate.initial="'required'" :error="makeError('role')"></bs-select>

          <div class="row">
            <div class="col-xs-3 text-right mt5">
              <label>OS*</label>
            </div>
            <div class="col-xs-9">
              <bs-select form-type="horizontal" :options="options.os" v-model="os.base" name="OS Base"
                         placeholder="Operational System" v-validate.initial="'required'"
                         :error="makeError('OS Base')"></bs-select>
              <bs-input form-type="horizontal" v-if="os.base" v-model="os.dist" name="OS Dist"
                        placeholder="Distro"></bs-input>
              <bs-input form-type="horizontal" v-if="os.base" v-model="os.version" name="OS Version"
                        placeholder="Version"></bs-input>
            </div>

          </div>

        </tab>


        <!-- ================= Datacenter ================= -->
        <!-- ============================================== -->
        <tab header="Datacenter">
          <tab-datacenter :serverType="options.serverType" @update="val => server.dc = val"></tab-datacenter>
        </tab>

        <!-- ================= Storage ================= -->
        <!-- ============================================== -->
        <tab header="Storage">
          <tab-storage :options="options.storage"></tab-storage>
        </tab>

        <!-- ================= Autentication ================= -->
        <!-- ============================================== -->
        <tab header="Auth">
          <tab-auth :options="options.auths"></tab-auth>
        </tab>

        <!-- ================= Setups ================= -->
        <!-- ============================================== -->
        <tab header="Setups">
          <tab-setups :options="options.services"></tab-setups>
        </tab>

        <!-- ================= Tags ================= -->
        <!-- ============================================== -->
        <tab header="Tags">
          <tab-tags :options="options.tags"></tab-tags>
        </tab>
      </tabs>

    </form>


    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="closed">Cancel</button>
      <button type="button" class="btn btn-primary" @click="actionClick" v-if="finalValid" :disabled="errors.any()">Save</button>
    </div>

  </modal>


</div>
