<div>

  <modal :title="text.title" effect="fade" width="800" v-model="showModal" @closed="closed" @opened="reset">

    <form class="row form-horizontal" @submit.prevent="createSave">

      <tabs v-model="tabShow" nav-style="tabs" justified class="col-xs-12">

        <!-- ================= General ================= -->
        <!-- ============================================== -->
        <tab header="General">
          <div class="row">
            <div class="col-xs-3 text-right mt5">
              <label>Status</label>
            </div>
            <div class="col-xs-9">
              <button-group v-model="data.status" type="primary">
                <bs-radio v-for="sts, i in options.status" :key="sts" :selected-value="sts">{{sts}}</bs-radio>
              </button-group>
            </div>
          </div>


          <bs-input class="mt20" form-type="horizontal" name="hostname" label="Hostname*" v-model="data.hostname"
                    v-validate.initial="'required'" :error="makeError('hostname')" @blur="verifyDuplicate">

            <template slot="dropper" v-if="duplicate.hostname">
              <span class="btn btn-danger btn-xs col-xs-12 mt5">{{duplicate.hostname}}</span>
            </template>
          </bs-input>

          <bs-input form-type="horizontal" name="ipv4_private" label="IP Private*" v-model="data.ipv4_private"
                    v-validate.initial="'required|ip'" :error="makeError('ipv4_private')" @blur="verifyDuplicate">

            <template slot="dropper" v-if="duplicate.ipv4_private">
              <span class="btn btn-danger btn-xs col-xs-12 mt5">{{duplicate.ipv4_private}}</span>
            </template>
          </bs-input>

          <bs-input form-type="horizontal" name="ipv4_public" label="IP Public" v-model="data.ipv4_public"
                    v-validate="'ip'" :error="makeError('ipv4_public')" @blur="verifyDuplicate">

            <template slot="dropper" v-if="duplicate.ipv4_public">
              <span class="btn btn-danger btn-xs col-xs-12 mt5">{{duplicate.ipv4_public}}</span>
            </template>
          </bs-input>


          <bs-input form-type="horizontal" name="cpu" label="CPU (cores)" v-model="data.cpu"
                    v-validate="'numeric'" :error="makeError('cpu')"></bs-input>
          <bs-input form-type="horizontal" name="memory" label="Memory (GB)" v-model="data.memory"
                    v-validate="'numeric'" :error="makeError('memory')"></bs-input>
          <hr/>

          <bs-select form-type="horizontal" :options="options.environment" v-model="data.environment" name="environment"
                     label="Environment*" v-validate.initial="'required'" :error="makeError('environment')"></bs-select>
          <bs-select form-type="horizontal" :options="options.role" v-model="data.role" name="role"
                     label="Role*" v-validate.initial="'required'" :error="makeError('role')"></bs-select>

          <div class="row">
            <div class="col-xs-3 text-right mt5">
              <label>OS*</label>
            </div>
            <div class="col-xs-9">
              <bs-select form-type="horizontal" :options="options.os" v-model="os.base" name="OS Base"
                         placeholder="Operational System" v-validate.initial="'required'"
                         :error="makeError('OS Base')"></bs-select>
              <bs-input form-type="horizontal" v-if="os.base" v-model="os.dist" name="OS Dist"
                        placeholder="Distro"></bs-input>
              <bs-input form-type="horizontal" v-if="os.base" v-model="os.version" name="OS Version"
                        placeholder="Version"></bs-input>
            </div>

          </div>

        </tab>


        <!-- ================= Datacenter ================= -->
        <!-- ============================================== -->
        <tab header="Datacenter">
          <tab-datacenter :serverType="options.serverType" @update="val => data.datacenters = val" ref="tab_dc"></tab-datacenter>
        </tab>

        <!-- ================= Storage ================= -->
        <!-- ============================================== -->
        <tab header="Storage">
          <tab-storage @update="val => data.storage = val" ref="tab_storage"></tab-storage>
        </tab>

        <!-- ================= Autentication ================= -->
        <!-- ============================================== -->
        <tab header="Auth">
          <tab-auth :options="options.auth" @update="val => data.auth = val" ref="tab_auth"></tab-auth>
        </tab>

        <!-- ================= Setups ================= -->
        <!-- ============================================== -->
        <tab header="Setups">
          <tab-setups @update="val => data.services = val" ref="tab_services"></tab-setups>
        </tab>

        <!-- ================= Tags ================= -->
        <!-- ============================================== -->
        <tab header="Tags">
          <tab-tags @update="val => data.tags = val" ref="tab_tags"></tab-tags>
        </tab>
      </tabs>

    </form>


    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="closed">Cancel</button>
      <button type="button" class="btn btn-primary" @click="actionClick" :disabled="errors.any()">Save</button>
    </div>

  </modal>

</div>
