<div>
  <div class="pb10">
    <header-view-entity label="Connection" :name="model.name" @del="del" @edit="edit()" @acl="acl"></header-view-entity>
  </div>

  <div class="col-xs-4">
    <info-view :data="filtered"></info-view>
  </div>

  <div class="col-xs-8">
    <h3><i class="fa fa-key" aria-hidden="true"></i> Tasks and Permissions</h3>

    <ul class="list-group">
      <li class="list-group-item" v-for="item, key in permissions">

        <div class="row">
          <div class="col-xs-6">
            <h4 class="text-capitalize">{{key}}
              <label v-if="item.msg" class="label btn-sm" :class="'label-'+item.state">Disabled</label>
            </h4>
          </div>
          <div class="col-xs-6 text-right">
            <button class="btn btn-xs btn-success" @click="task(key, 'parcial')">
              <i class="fa fa-hourglass-end"></i>
              Sync
            </button>
          </div>
        </div>

        <div v-if="item.msg" class="alert" :class="'alert-'+item.state">
          {{item.msg}}
        </div>


        <strong class="row col-xs-12 mt10">Permissions Required:</strong>
        <template v-for="req in item">
          <bs-label type="default">{{req.command}} {{req.access}}</bs-label>&nbsp;
        </template>
      </li>
    </ul>
  </div>

</div>
