<div>
  <div class="pb10">
    <header-view-entity :label="entity.name" :name="model.name" @del="del" @edit="edit()" @acl="acl"></header-view-entity>
  </div>

  <div class="col-xs-6">
    <info-view :data="filtered"></info-view>
  </div>

  <div class="col-xs-6">

    <creater-config-list label="Tag" :basket="model.tags" @edit="edit" :index="2" icons="fa-tags">
      <template slot="view" slot-scope="props">
        <bs-label>{{props.item.key}}</bs-label>
        - {{props.item.value}}
      </template>
    </creater-config-list>

  </div>

</div>
