<div>
  <div class="col-xs-12">
    <h3><i class="fa" :class="icons" aria-hidden="true"></i> {{label}}s
      <bs-label type="default" class="pull-right" v-if="basket">{{basket.length}}</bs-label>
    </h3>

    <ul class="list-group">
      <li class="list-group-item" v-for="item in basket">
        <slot name="view" :item="item">{{item.name}}</slot>
      </li>
    </ul>

    <button class="btn btn-primary pull-right" @click.prevent="callEdit"><i
      class="fa" :class="icons" aria-hidden="true"></i> Manage {{label}}
    </button>
  </div>
</div>
