<div>
  <button class="btn btn-primary pull-right" @click="createModal = true">New team</button>

  <modal title="Create new Team" effect="fade" width="800" v-model="createModal" @closed="closed">

    <form id="createTeam1" class="row" v-if="step == 1">

      <form-validator v-model="valid" class="col-sm-offset-2 col-sm-8">

        <div class="col-xs-12 col-sm-3 text-center">
          <img src="../../../../../resources/assets/imgs/avatar_default.jpeg" alt="" class="img-responsive img-circle">
        </div>
        <input-file label="Upload team logo" class="col-xs-12 col-sm-9"></input-file>

        <bs-input type="text" label="Name" required class="col-xs-12 mt10" icon></bs-input>

        <bs-input type="email" label="Email" required class="col-xs-12" icon></bs-input>

        <bs-input type="text" label="Url" required class="col-xs-12" icon></bs-input>

      </form-validator>

    </form>

    <form id="createTeam2" class="row" v-if="step == 2">

      <h5 class="col-xs-12">Choose the users for the team
        <small>(You can choose later.)</small>
      </h5>
      <bs-input type="email" label="Email" required class="col-xs-12" icon></bs-input>

      <div class="col-xs-12 text-right">
        <button class="btn btn-primary">Add Users</button>

        <hr/>

        <ul class="list-group mt20">
          <li class="list-group-item">
            <button class="btn btn-danger btn-xs pull-left">
              <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </button>
            Felipe Klerk Signorini
          </li>
          <li class="list-group-item">
            <button class="btn btn-danger btn-xs pull-left">
              <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </button>
            Mileide
          </li>
        </ul>

      </div>

    </form>

    <form id="createTeam3" class="row" v-if="step == 3">

      <h5 class="col-xs-12">Choose the initial access roles
        <small>(You can choose later.)</small>
      </h5>
      <bs-input type="text" label="Access role" required class="col-xs-12" icon></bs-input>

      <div class="col-xs-12 text-right">
        <button class="btn btn-primary">Add Role</button>

        <hr/>

        <ul class="list-group mt20">
          <li class="list-group-item disabled">
            Admin B2W team
          </li>
          <li class="list-group-item">
            <button class="btn btn-danger btn-xs pull-left">
              <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </button>
            DevOps
          </li>
        </ul>
      </div>

    </form>

    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="closed">Cancel</button>
      <button type="button" class="btn btn-default" @click="previousMethod" v-if="previousValid">Previous</button>
      <button type="button" class="btn btn-success" @click="nextMethod" v-if="forwardValid">Next</button>
      <button type="button" class="btn btn-primary" @click="saveMethod" v-if="finalValid">Create</button>
    </div>

  </modal>
</div>
