<div>
  <modal :title="text.title" effect="fade" width="800" v-model="showModal" @closed="closed">

    <form class="row">

      <div class="col-sm-offset-1 col-xs-10">
        <uploader refs="teams" v-model="model.avatar"></uploader>

        <bs-input label="Name*" v-model="model.name"
                  v-validate.initial="'required'"
                  name="name"
                  class="col-xs-12 mt20"
                  :error="makeError('name')"
        ></bs-input>

        <bs-input type="email" label="Email"
                  v-model="model.email"
                  v-validate.initial="'email'"
                  name="email"
                  class="col-xs-12"
                  :error="makeError('email')"
        ></bs-input>

        <bs-input label="Url" v-model="model.url"
                  v-validate.initial="'url'"
                  name="url"
                  class="col-xs-12"
                  :error="makeError('url')"
        ></bs-input>
      </div>
    </form>

    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="closed">Cancel</button>
      <button type="button" class="btn btn-primary" @click="actionClick" :disabled="errors.any()">Save</button>
    </div>

  </modal>
</div>
