<div>

  <modal :title="text.title" effect="fade" width="800" v-model="showModal" @closed="closed" @opened="reset">

    <form class="row form-horizontal">
      <div class="col-xs-12">
        <creater-list :basket.sync="value" :label="label" :showAddBtn="false">

          <template slot="forms">
            <div class="col-xs-12">
              <h5>Choose the users for the team</h5>

              <div class="col-xs-12">
                <typeahead
                  placeholder="What is the email account to new member? "
                  async-key="items"
                  :async="URL"
                  :template="template"
                  :on-hit="onHit"
                ></typeahead>
              </div>
            </div>
          </template>

          <template slot="view" scope="props">
            <b>{{props.item.email}}</b> <span v-if='props.item.name' class="text-capitalize">({{props.item.name}})</span>

            <button-group v-model="props.item.role" type="warning">
              <bs-radio :selected-value="1" class="btn-sm" @checked="updateRolers(props.item, 1)">Read</bs-radio>
              <bs-radio :selected-value="3" class="btn-sm" @checked="updateRolers(props.item, 3)">Write</bs-radio>
              <bs-radio :selected-value="7" class="btn-sm" @checked="updateRolers(props.item, 7)">Admin</bs-radio>
            </button-group>
          </template>

        </creater-list>
      </div>
    </form>

    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="closed">Cancel</button>
      <button type="button" class="btn btn-primary" @click="actionClick" :disabled="errors.any()">Save</button>
    </div>

  </modal>

</div>
