<form>

    <div class="col-xs-12">
      <div class="col-xs-12 text-center">
        <img :src="logo_url" alt="Maestro - Login"
             class="text-center img-responsive-center"/><br/>
      </div>

      <h3 class="purple text-center mt10 col-xs-12">Welcome to best fullfiment devops system</h3>

        <bs-input
          label="Username"
          v-model="model.name"
          v-validate.initial="'required'"
          name="name"
          :error="makeError('name')"
        ></bs-input>

        <bs-input
          label="Email"
          v-model="model.email"
          v-validate.initial="'required|email'"
          name="email"
          :error="makeError('email')"
        ></bs-input>

        <hr/>

        <bs-input
          type="password"
          label="Password"
          v-model="model.password"
          v-validate.initial="'required|min:4'"
          name="password"
          ref="password"
          :error="makeError('password')"
          @keydown.enter="create"
        ></bs-input>

        <bs-input
          type="password"
          label="Verify password"
          v-model="model.verypassword"
          v-validate="'required|min:4|confirmed:password'"
          name="verypassword"
          :error="makeError('verypassword')"
          @keydown.enter="create"
        ></bs-input>

      <div class="text-right">
        <router-link :to="{name: 'login'}" class="btn btn-default">Back</router-link>

        <button type="button" class="btn btn-primary" :disabled="errors.any()" @click="create">Sign up</button>
      </div>
    </div>

</form>
