<div>

  <modal :title="text.title" effect="fade" width="800" v-model="showModal" @closed="closed" @opened="reset">

    <form class="row form-horizontal" @submit.prevent="createSave">

      <tabs v-model="tabShow" nav-style="tabs" justified class="col-xs-12">

        <!-- ================= General ================= -->
        <!-- ============================================== -->
        <tab header="General">
          <div class="row">

            <div class="col-xs-12">

              <bs-input class="mt20" form-type="horizontal" name="name" label="Name*" v-model="app.name"
                        v-validate.initial="'required'" :error="makeError('name')"></bs-input>

              <bs-input type="textarea" class="mt20" form-type="horizontal" name="description" label="Descripition" v-model="app.description"
              ></bs-input>

              <bs-select form-type="horizontal" :options="options.environment" v-model="app.environment" name="environment"
                         label="Environment*" v-validate.initial="'required'" :error="makeError('environment')"></bs-select>

              <bs-select form-type="horizontal" v-if="options.system" :options="options.system" v-model="app.system" name="system"
                         label="System" options-value="_id"></bs-select>

              <div class="row" v-if="!options.system">
                <div class="col-xs-3 text-right">
                  <label>System</label>
                </div>
                <div class="col-xs-9">
                  <div class="pull-left">
                    <bs-label type="danger">None system record.</bs-label>
                    <router-link to="/dashboard/inventory/system">Do you like to create one?</router-link>
                  </div>
                </div>
              </div>

              <hr>

              <bs-select form-type="horizontal" search :options="options.languages" v-model="app.language" name="type" label="Language" placeholder="Code is?"></bs-select>
              <bs-select form-type="horizontal" :options="options.clusters" v-model="app.cluster" name="type" label="Cluster mode" placeholder="No" help="This app is clusterized?"></bs-select>

            </div>

          </div>

        </tab>

        <!-- ================= Spec ================= -->
        <!-- ============================================== -->
        <tab header="Spec">
          <tab-spec :roles="options.role" @update="val => app.spec = val" ref="tab_spec"></tab-spec>
        </tab>


        <!-- ================= Servers ================= -->
        <!-- ============================================== -->
        <tab header="Servers">
          <tab-servers @update="val => app.servers = val" ref="tab_servers"></tab-servers>
        </tab>

        <!-- ================= Deploy ================= -->
        <!-- ============================================== -->
        <tab header="Deploy">
          <tab-deploy :types="options.deploy" @update="val => app.deploy = val" ref="tab_deploy"></tab-deploy>
        </tab>

        <!-- ================= Tags ================= -->
        <!-- ============================================== -->
        <tab header="Tags">
          <tab-tags @update="val => app.tags = val" ref="tab_tags"></tab-tags>
        </tab>
      </tabs>

    </form>


    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="closed">Cancel</button>
      <button type="button" class="btn btn-primary" @click="actionClick" v-if="finalValid" :disabled="errors.any()">Save</button>
    </div>

  </modal>

</div>
