//
// Tenant DropDown
// --------------------------------------------------
@import '~bootue/src/_core/variables';
@import '~bootue/src/_core/mixins';

$base-height: 65px;
$min-dropdown-menu: 206px;

.menu {
  float: left;

  box-shadow: 0 1px 10px $brand-primary-darker;
  background: $brand-primary;
  @include gradient-horizontal($start-color: $brand-secondary, $end-color: $brand-secondary, $start-percent: 0%, $end-percent: 100%);
  @include themify($themes) {
    box-shadow: 0 1px 10px themed('brand-primary-darker');
    background: themed('brand-primary');
    @include gradient-horizontal($start-color: themed('brand-secondary'), $end-color: themed('brand-secondary'), $start-percent: 0%, $end-percent: 100%);
  }

  .item {
    float: left;
    padding: 0 3px;
    position: relative;

    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: $white;

      background: $brand-primary-darker;
      @include themify($themes) {
        background: themed('brand-primary-darker');
      }
    }
  }

  .entity {
    display: block;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    line-height: $base-height;
  }

  a {
    float: left;
    width: 100%;
  }

  h4 {
    display: inline-block;
  }

  .maestro-dropdown {
    position: absolute;
    padding: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 20px 10px #b4b4b4;
    z-index: 3;
    top: $base-height;
    right: 0;
    min-width: 254px;

    background: $brand-primary;
    @include gradient-vertical($start-color: $brand-primary, $end-color: $brand-primary-darker);
    @include themify($themes) {
      background: themed('brand-primary');
      @include gradient-vertical($start-color: themed('brand-primary'), $end-color: themed('brand-primary-darker'));
    }

    ul {
      width: 100%;
    }

    li {
      cursor: pointer;

      a {
        padding: 0 10px 0;
        display: inline-block;
        color: $white;
        text-decoration: none;
        text-transform: capitalize;

        box-shadow: 0 0 2px $brand-primary-darker;
        @include themify($themes) {
          box-shadow: 0 0 2px themed('brand-primary-darker');
        }
      }

      a:hover {
        @include gradient-horizontal($start-color: $brand-secondary, $end-color: $brand-primary-darker, $start-percent: 0%, $end-percent: 30%);
        @include themify($themes) {
          @include gradient-horizontal($start-color: themed('brand-secondary'), $end-color: themed('brand-primary-darker'), $start-percent: 0%, $end-percent: 30%);
        }
      }
    }

    .btn-link {
      color: $white;
    }
  }


  .main {
    float: left;
    width: 80%;

    .avatar {
      float: left;
      width: 20%;
    }

    img {
      padding: 4px;
      max-height: 120px;
      margin-top: 8px;
    }
  }

  .complementary {
    float: left;
    width: 20%;

    .maestro-dropdown {
      right: 0;
      min-width: 160px;

      ul {
        padding: 6px 0 3px;

        li a {
          box-shadow: none;
          padding: 10px 15px;
          font-size: $font-size-base;
        }
      }
    }
  }

  @media only screen and (min-width: $screen-md-min) {
    width: 318px;
  }

  @media only screen and (max-width: $screen-sm-max) {
    max-width: 158px;
  }

  @media only screen and (max-width: $screen-xs-max) {
    max-width: 118px;

    .main {
      width: 70%;
    }

    .maestro-dropdown {
      .entity {
        font-size: 16px;
        margin-top: 9px;
      }
    }

    .complementary {
      width: 30%;
    }

    .fix-mobile {
      width: 100%;
    }
  }
}

.mask-circle {
  width: 90%;
  height: 0;
  padding-bottom: 90%;
  display: inline-block;
  margin-left: 5%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}



.twrapper {
  max-height: 350px;

  .vb-content {
    max-height: 350px;
  }
}

.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  -webkit-transition: background-color 100ms ease-out,
  margin 100ms ease-out,
  height 100ms ease-out;
  transition: background-color 100ms ease-out,
  margin 100ms ease-out,
  height 100ms ease-out;
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler,
.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler,
.vb > .vb-dragger > .vb-dragger-styler,
.vb > .vb-dragger:hover > .vb-dragger-styler,
.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: $brand-primary-darker;
  @include themify($themes) {
    background-color: themed('brand-primary-darker');
  }
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  margin: 0px;
  height: 100%;
}
