//
// Tenant DropDown
// --------------------------------------------------
@import '../../_variables/variables';
@import '../../_mixins/mixins';

.twrapper {
  max-height: 350px;

  .vb-content {
    max-height: 350px;
  }
}

.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  -webkit-transition: background-color 100ms ease-out,
  margin 100ms ease-out,
  height 100ms ease-out;
  transition: background-color 100ms ease-out,
  margin 100ms ease-out,
  height 100ms ease-out;
  background-color: $brand-primary-darker;
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: $brand-primary-darker;
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: $brand-primary-darker;
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: $brand-primary-darker;
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: $brand-primary-darker;
}

.wrapper-maestro-menu {
  position: relative;
  max-width: 260px;
  margin-right: 2px;

  .c-1 {
    float: left;
    width: 35px;
    height: 35px;
  }

  .c-2 {
    padding: 0 10px;
    line-height: 35px;
    max-width: 170px;
    display: inline-block;
    overflow: hidden;
    height: 35px;
  }

  img {
    box-shadow: 1px 1px 3px $brand-primary-darker;
  }

  .square-avatar {
    height: 35px;
  }

  .slide-fade-enter-active {
    transition: all .2s ease;
  }
  .slide-fade-leave-active {
    transition: all .2s ease;

  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(-50px);
    opacity: 0;
  }

  i {
    line-height: 30px;
  }

  .maestro-menu {
    position: relative;
    box-shadow: 0 1px 10px $brand-primary-darker;
    min-width: 260px;

    background: $brand-primary;
    z-index: 5;

    @include gradient-horizontal($start-color: $brand-secondary, $end-color: $brand-secondary, $start-percent: 0%, $end-percent: 100%);

    a {
      padding: 15px 15px 5px;
      display: inline-block;
      width: 100%;
      color: $white;
      font-size: $font-size-large;
      text-transform: capitalize;
    }

    a:hover {
      cursor: pointer;
      text-decoration: none;
      color: $white;
      background: $brand-primary-darker
    }
  }

  .maestro-dropdown {
    position: absolute;
    min-width: 260px;
    padding: 0;
    background: $brand-primary;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 2px 10px #b4b4b4;
    z-index: 3;

    @include gradient-vertical($start-color: $brand-primary, $end-color: $brand-secondary);

    ul {
      padding: 0;
      margin: 0;
      width: 100%;
    }

    li {
      padding: 0;
      list-style: none;
      cursor: pointer;
      @include gradient-horizontal($start-color: $brand-secondary, $end-color: $brand-secondary, $start-percent: 0%, $end-percent: 100%);

      a {
        padding: 10px 10px 0;
        display: inline-block;
        width: 100%;
        color: #fff;
        text-decoration: none;
        font-size: $font-size-medium;
        box-shadow: 0 0 2px $brand-primary-darker;
        text-transform: capitalize;
      }

      a:hover {
        @include gradient-horizontal($start-color: $brand-secondary, $end-color: $brand-primary-darker, $start-percent: 0%, $end-percent: 30%);
      }
    }
  }
}

.wrapper-settings {
  margin-right: 0;

  .c-1 {
    font-size: 28px;
    padding-top: 3px;
  }

  .c-2 {
    padding: 0 2px;
    line-height: 35px;
  }

  .maestro-menu {
    min-width: 50px;
  }

  .maestro-dropdown {
    right: 0;
    min-width: 160px;

    ul {
      padding: 5px 0 3px;

      li a {
        cursor: pointer;
        padding: 4px 15px;
        font-size: $font-size-base;
      }
    }
  }
}




