//
// Tenant DropDown
// --------------------------------------------------
@import '../../_variables/variables';
@import '../../_mixins/mixins';

.twrapper {
  max-height: 350px;
}

.wrapper-tenants {
  position: relative;
  max-width: 260px;
  margin-right: 2px;

  .c-1 {
    float: left;
    width: 35px;
    height: 35px;
  }

  .c-2 {
    padding: 0 10px;
    line-height: 35px;
  }

  img {
    box-shadow: 1px 1px 3px $brand-primary-darker;
  }

  .slide-fade-enter-active {
    transition: all .2s ease;
  }
  .slide-fade-leave-active {
    transition: all .2s ease;

  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(-50px);
    opacity: 0;
  },

  i {
    line-height: 30px;
  }
}

.tenant {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: $font-size-medium;
  box-shadow: 0 1px 10px $brand-primary-darker;
  min-width: 260px;

  background: $brand-primary;
  z-index: 5;

  a {
    padding: 15px;
    display: inline-block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: $font-size-large;
    text-transform: capitalize;
  }

  @include gradient-horizontal($start-color: $brand-secondary, $end-color: $brand-secondary, $start-percent: 0%, $end-percent: 100%);
}

.tenants {
  float:left;
  position: absolute;
  min-width: 260px;
  padding: 0;
  background: $brand-primary;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 2px 10px #b4b4b4;
  z-index: 3;

  @include gradient-vertical($start-color: $brand-primary, $end-color: $brand-secondary);

  ul {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  li {
    padding: 0;
    list-style: none;
    cursor: default;
    @include gradient-horizontal($start-color: $brand-secondary, $end-color: $brand-secondary, $start-percent: 0%, $end-percent: 100%);

    a {
      padding: 8px 10px;
      display: inline-block;
      width: 100%;
      color: #fff;
      text-decoration: none;
      font-size: $font-size-medium;
      box-shadow: 0 0 2px $brand-primary-darker;
      text-transform: capitalize;
    }

    a:hover {
      @include gradient-horizontal($start-color: $brand-secondary, $end-color: $brand-primary-darker, $start-percent: 0%, $end-percent: 30%);
    }
  }
}
