<div>
  <div class="pb10">
    <h3 class="col-xs-8 pb10">
      {{title}}
    </h3>
    <div class="col-xs-4 pb10 mt20">
      <button class="btn btn-primary pull-right" @click="addE">New Datacenter</button>
    </div>
  </div>

  <div class="col-xs-12">

    <panel v-for="item in result.items" :key="item._id">
      <div class="col-xs-4">
        <h3 class="mt0">
          {{item.name}}
          <bs-label type="success" class="btn-xs" v-if="item.sucessed === true">Connected</bs-label>
          <bs-label type="warning" class="btn-xs" v-if="item.sucessed === undefined">Disconnected</bs-label>
          <bs-label type="danger" class="btn-xs" v-if="item.sucessed === false">Disconnected</bs-label>
        </h3>
        <button class="btn btn-primary btn-xs" @click.stop="editE(item)">
          <i class="fa fa-pencil" aria-hidden="true"></i> Edit datacenter
        </button>
        <button class="btn btn-danger btn-xs" @click.stop="deleteE(item)">
          <i class="fa fa-trash" aria-hidden="true"></i> Delete datacenter
        </button>
      </div>
      <div class="col-xs-8 text-right">

        <button class="btn btn-default btn-xs">
          <i class="fa fa-server" aria-hidden="true"></i> Instance <span class="badge">{{item.count || 0}}</span>
        </button>

        <bs-label type="primary"><i class="fa fa-cloud"></i> {{ item.provider }}</bs-label>
        <bs-label type="success"><i class="fa fa-cloud-upload"></i> {{ item.regions.length }} Regions</bs-label>
        <bs-label type="success"><i class="fa fa-bullseye"></i> {{ item.zones.length }} Zones</bs-label>
      </div>
    </panel>


    <div class="text-center">
      <pagination :total_pages="result.total_pages" :current_page="result.current_page"
                  @changePage="changePage"></pagination>
    </div>

    <div class="text-center" v-if="result.found == 0">
      <well>
        <h4>You dont have any datacenter, Do you like to create one?</h4>
        <hr/>
        <button class="btn btn-primary btn-lg" @click.stop="addE">Create new DC</button>

      </well>
    </div>

  </div>

  <modal-create class="mt15" ref="modal_create"></modal-create>
  <modal-delete class="mt15" ref="modal_delete"></modal-delete>
</div>
