<div>

  <div class="pb10">
    <header-entity @add="addE" :label="name"></header-entity>
  </div>

  <div class="col-xs-12">

    <list-box :items="result.items" :total_pages="result.total_pages" label="Datacenter"
              @changePage="changePage"
              @add="addE"
              @acl="aclE"
              @edit="editE"
              @del="deleteE">

      <template slot="header" scope="props">
        <h3 class="mt0">
          <i :class="toLower(props.item.provider, 'icon-')"></i>
          {{props.item.name}}
          <bs-label type="success" class="btn-xs" v-if="props.item.sucessed === true">Connected</bs-label>
          <bs-label type="warning" class="btn-xs" v-if="props.item.sucessed === undefined">Disconnected</bs-label>
          <bs-label type="danger" class="btn-xs" v-if="props.item.sucessed === false">Disconnected</bs-label>
        </h3>
      </template>

      <template slot="info" scope="props">
        <button class="btn btn-default btn-xs" @click.stop="seeInstances(props.item)">
          <i class="fa fa-server" aria-hidden="true"></i> Instances
        </button>

        <bs-label type="primary"><i :class="toLower(props.item.provider, 'icon-')"></i> {{ props.item.provider }}</bs-label>
        <bs-label type="success"><i class="fa fa-cloud-upload"></i> {{ props.item.regions.length }} Regions</bs-label>
        <bs-label type="success"><i class="fa fa-bullseye"></i> {{ props.item.zones.length }} Zones</bs-label>
      </template>

    </list-box>

  </div>
</div>
