<div class="profile">

  <div class="col-xs-12 col-sm-6">

    <h3>Change Profile</h3>
    The information you provide below will be shown on your invoices.<br/><br/>
    <form class="row">

      <uploader
        refs="users"
        v-model="model.avatar"
        imgSize="col-xs-12 col-sm-2 col-sm-offset-1"
        inputSize="col-xs-12 col-sm-8"
      ></uploader>

      <bs-input
        label="Username"
        v-model="model.name"
        name="name"
        class="col-xs-12"
        disabled
      ></bs-input>

      <bs-input
        label="Full Name"
        v-model="model.fullname"
        name="fullname"
        class="col-xs-12"
      ></bs-input>

      <bs-input
        label="Phone number"
        v-model="model.phone"
        :value="model.phone"
        name="phone"
        class="col-xs-12"
      ></bs-input>

      <bs-input
        label="Company"
        v-model="model.company"
        :value="model.company"
        name="company"
        class="col-xs-6"
      ></bs-input>

      <bs-input
        label="Job"
        v-model="model.job"
        :value="model.job"
        name="job"
        class="col-xs-6"
      ></bs-input>

      <bs-select-country baseclass="col-xs-6" v-model="model.country"></bs-select-country>

      <bs-input
        label="City"
        v-model="model.city"
        :value="model.city"
        name="city"
        class="col-xs-12"
      ></bs-input>

      <bs-input
        label="Address"
        v-model="model.address"
        :value="model.address"
        name="address"
        class="col-xs-12"
      ></bs-input>


      <div class="col-xs-12">
        <button type="button" class="btn btn-primary pull-right" @click="updateProfile">
          Update profile
        </button>
      </div>
    </form>
  </div>

  <div class="col-xs-12 col-sm-6">

    <h3>Change account email</h3>

    <form class="row" data-vv-slot-scope="femail">
      <bs-input
        label="Current email"
        v-model="model.email"
        name="current"
        class="col-xs-6"
        disabled
      ></bs-input>

      <bs-input
        type="email"
        label="New Email"
        v-model="cemail"
        v-validate.initial="'required|email'"
        data-vv-slot-scope="femail"
        name="email"
        class="col-xs-6"
        :error="makeError('email', 'femail')"
      ></bs-input>

      <div class="col-xs-12">
        <button type="button" class="btn btn-primary pull-right" :disabled="errors.any('femail')" @click="updateEmail">
          Update a new password
        </button>
      </div>

    </form>

  </div>

  <div class="col-xs-12 col-sm-6" v-if="false">

    <h3>Two-Factor Authentication</h3>
    Protect your account by setting up second factor authentication. You can choose from Google Authenticator.
    <br/><br/>

    <a href="#" class="btn btn-primary pull-right">Google Authenticator</a>

  </div>

  <div class="col-xs-12 col-sm-6">

    <h3>Change or password</h3>
    Change your password or recover your current one.
    <br/><br/>
    <form class="row" data-vv-slot-scope="fpassword">

      <bs-input
        type="password"
        label="Current password"
        v-model="cpass.password"
        v-validate.initial="'required'"
        name="password"
        data-vv-slot-scope="fpassword"
        :error="makeError('password', 'fpassword')"
        class="col-xs-12"
      ></bs-input>

      <bs-input
        type="password"
        label="New password"
        v-model="cpass.newpass"
        v-validate.initial="'required'"
        name="newpassword"
        data-vv-slot-scope="fpassword"
        :error="makeError('newpassword', 'fpassword')"
        class="col-xs-6"
      ></bs-input>

      <bs-input
        type="password"
        label="Verify password"
        v-validate.initial="'required|confirmed:newpassword'"
        name="verypassword"
        data-vv-slot-scope="fpassword"
        v-model="cpass.vpass"
        :error="makeError('verypassword', 'fpassword')"
        class="col-xs-6"
      ></bs-input>

      <div class="col-xs-12">
        <button type="button" class="btn btn-primary pull-right" :disabled="errors.any('fpassword')" @click="updatePassWord">
          Save a new password
        </button>
      </div>

    </form>

  </div>

</div>
