
.wrapper-charts{
  padding: 4px !important;
  margin:0 !important;

  .bg-charts {
    background: #f2f2f4;
    border-radius: 20px;
    height: 416px;

    padding: 8px;
    overflow: hidden;
  }
}
