@import '../_variables/variables';
@import '../_mixins/mixins';

header {
  background: $gray-lighter;
  @include gradient-vertical($start-color: $gray-lighter, $end-color: $gray-lighter2, $start-percent: 0%, $end-percent: 100%);

  border-bottom: 1px solid $gray-lighter;
  height: 66px;
  width: 100%;
  display: inline-block;

  h1 {
    font-size: 18px;
    color: #250c49;
    paddgin: 0;
    margin: 15px 0 5px;
  }

  .logo {
    left: 25px;
  }

  .logo:before {
    position: absolute;
    content: " ";
    width: 25px;
    height: 80px;
    border-top: 55px solid $brand-primary;
    border-right: 24px solid transparent;
    left: -10px;
  }
}
