@import '~components/bootue/_core/variables';
@import '~components/bootue/_core/mixins';


header {
  background: $gray-lighter;
  @include gradient-vertical($start-color: $gray-lighter, $end-color: $gray-lighter2, $start-percent: 0%, $end-percent: 100%);

  border-bottom: 1px solid $gray-lighter;
  height: 66px;
  width: 100%;
  display: inline-block;

  h1 {
    font-size: 16px;
    padding: 0;
    margin: 15px 0 5px;

    color: #250c49;
    @include themify($themes) {
      color: 55px solid themed('brand-primary-darker');
    }
  }

  p{
    font-size: $font-size-small;
  }

  .logo {
    left: 25px;
  }

  .logo:before {
    position: absolute;
    content: " ";
    width: 25px;
    height: 80px;
    border-right: 24px solid transparent;
    left: -10px;

    border-top: 55px solid $brand-primary;
    @include themify($themes) {
      border-top: 55px solid themed('brand-primary');
    }
  }

  @media only screen and (max-width: $screen-xs-max) {
    .navbar-toggle.collapsed {
      color: $white;
      position: fixed;
      bottom: 10px;
      right: 10px;
      z-index: 2;
      background: $brand-primary;
      @include themify($themes) {
        background: themed('brand-primary');
      }
    }

    .navbar-collapse {
      position: fixed;
      left: 3%;
      bottom: 0;
      width: 102%;
      background: #f0f0f0;
      z-index: 1;
      box-sizing: border-box;

      .nav > li {
        position: relative;
        display: block;
        width: 100%;
        float: left;
      }
    }
  }
}
