<div style="position: relative" :class="{open:showDropdown}">
  <bs-input
    :label="label"
    :form-type="formType"
    :horizontalWrapper="horizontalWrapper"
    :horizontalLabelWrapper="horizontalLabelWrapper"
    autocomplete="off"
    v-model="val"
    :placeholder="placeholder"
    :type.once="type"
    @blur="showDropdown = false"
    @keydown.down="down"
    @keydown.enter="hit"
    @keydown.esc="reset"
    @keydown.up="up"
  >

    <template slot="dropper">
      <ul class="dropdown-menu" ref="dropdown" >
        <li v-for="(item, i) in items" :class="{active: isActive(i)}">
          <a @mousedown.prevent="hit" @mousemove="setActive(i)">
            <component :is="templateComp" :item="item"></component>
          </a>
        </li>
      </ul>
    </template>

  </bs-input>



</div>
