<div>
  <slot name="forms"></slot>

  <div class="text-center mt20" v-if="showAddBtn">
    <button class="btn btn-primary mt5" type="button" name="button" @click="add"
            :disabled="$parent.errors.any()"><i class="fa fa-plus-circle"></i> {{label}}
    </button>
  </div>

  <div class="clearfix"></div>

  <div class="well mt20">

    <bs-list v-if="basket.length > 0">
      <li class="list-group-item" v-for="item, i in basket">
        <slot name="view" :item="item"></slot>

        <button class="btn btn-danger btn-xs pull-right" @click.prevent.stop="del(i)"><i
          class="fa fa-trash" aria-hidden="true"></i></button>
      </li>
    </bs-list>

    <span v-if="basket.length <= 0" class="col-xs-12 text-center">None {{label}}</span>
    <bs-label v-if="basket.length > 0" type="default">{{basket.length}} {{label}}<span
      v-if="basket.length > 1">s</span></bs-label>
  </div>

  <slot name="footer"></slot>

</div>
