<div>

  <modal :title="text.title" effect="fade" width="800" v-model="showModal" @closed="closed" @opened="reset">

    <form class="row form-horizontal">
      <tab-foreign-relation :label="label" ref="tab_foreign_relation" @update="val => value = val" :relName="relName" :entity="relation"></tab-foreign-relation>
    </form>

    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="closed">Cancel</button>
      <button type="button" class="btn btn-primary" @click="actionClick" :disabled="errors.any()">Save</button>
    </div>

  </modal>

</div>
