<div>

  <modal :title="text.title" effect="fade" width="800" v-model="showModal">

    <form class="row form-horizontal" @submit.prevent="createSave">
      <tabs v-model="tabShow" nav-style="tabs" justified class="col-xs-12">

        <!-- ================= Setup ================= -->
        <!-- ============================================== -->
        <tab header="Setup">

          <bs-input class="mt20" form-type="horizontal" name="name" label="Name" v-model="data.name" placeholder="my device"></bs-input>
          <bs-input class="mt20" form-type="horizontal" name="name" label="Unique Id" v-model="data.unique_id" placeholder="Unique ID"></bs-input>

        </tab>

        <!-- ================= Partitions ================= -->
        <!-- ============================================== -->
        <tab header="Partitions">

          <creater-list
            :single.sync="single"
            :basket="data.partitions"
            label="Partitions"
            @update="updaterEdit"
          >
            <template slot="forms">

              <bs-input
                v-model="single.device"
                form-type="horizontal"
                name="device"
                label="Device"
                placeholder="/dev/xdva1"
              />

              <bs-input
                v-model="single.mount"
                form-type="horizontal"
                name="name"
                label="Mount path"
                placeholder="/"
              />

              <bs-input
                v-model="single.ftype"
                class="mt20"
                form-type="horizontal"
                label="File type"
                placeholder="ext4"
              />

              <bs-input
                v-model="single.size"
                class="mt20"
                form-type="horizontal"
                label="Size"
                type="number"
              />
            </template>

            <template slot="view" slot-scope="props">
              {{ props.item.name }} <bs-label v-if="props.item.ftype">{{ props.item.ftype }}</bs-label> <bs-label v-if="props.item.size">{{ props.item.size }} GB</bs-label>
               <bs-label v-if="props.item.mount">Mount: <b>{{ props.item.mount }}</b></bs-label>
            </template>
          </creater-list>

        </tab>

        <!-- ================= LVM ================= -->
        <!-- ============================================== -->
        <tab header="LVM">

          <creater-list
            :single.sync="single_lvm"
            :basket="data.lvm"
            label="Logical volume"
            @update="updaterEdit"
          >
            <template slot="forms">
              <div class="col-xs-12"><h5>LVM - Logical volume mananger</h5></div><br/><hr/>

              <bs-input class="mt20" form-type="horizontal" name="pv" label="PV name" v-model="single_lvm.pv" placeholder="pv-name"></bs-input>
              <bs-input class="mt20" form-type="horizontal" name="vg" label="VG name" v-model="single_lvm.vg" placeholder="vg-group"></bs-input>
              <bs-input class="mt20" form-type="horizontal" name="size" label="Size" v-model="single_lvm.size" type="number" placeholder="vg-group"></bs-input>
            </template>

            <template slot="view" slot-scope="props">
              <bs-label v-if="props.item.pv">{{ props.item.pv }}</bs-label> <bs-label v-if="props.item.size">{{ props.item.size }} GB</bs-label>
              - {{ props.item.vg }}
            </template>
          </creater-list>

        </tab>

      </tabs>
    </form>


    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="closed">Cancel</button>
      <button type="button" class="btn btn-primary" @click="actionClick" :disabled="errors.any()">Save</button>
    </div>

  </modal>

</div>
