@import '~components/bootue/_core/variables';
@import '~components/bootue/_core/mixins';

.navbar-main .navbar-nav {
  margin-bottom: 20px;
  height: 6px;
  background: $gray-lighter2;
  border: none;

  li a {
    color: $gray-darker;
    padding: 15px 14px;
  }

  li:hover {
    padding: 0;

    a:not(.router-link-active) {
      background-color: $gray-light;
      color: $white;
    }
  }

  li a.router-link-active {
    background-color: $brand-primary;
    color: $white;

    @include themify($themes) {
      background-color: themed('brand-primary');
    }
  }

  @media only screen and (max-width: 881px) and (min-width: 768px) {
    small {
      display: none;
    }
    li a {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
}
