@import '../../_variables/variables';


.navbar-main .navbar-nav {
  margin-bottom: 20px;
  height: 65px;
  background: $gray-lighter2;
  border: none;

  li a {
    color: $gray-darker;
  }

  li:hover {
    padding: 0;

    a:not(.router-link-active) {
      background-color: $gray-light;
      color: $white;
    }
  }

  li a.router-link-active {
    background-color: $brand-primary;
    color: $white;
  }
}
