@import '~bootue/src/_core/variables';
@import '~bootue/src/_core/mixins';

.wrapper-btn {
  .btn {
    min-height: 145px;
    width: 100%;

    i {
      line-height: 125px;
      font-size: 100px;
    }

    @media only screen and (max-width: $screen-xs-max) {
      min-height: 70px;

      i {
        line-height: 90px;
        font-size: 66px;
      }
    }
  }
}
