<div>
  <div class="pb10">
    <header-view-entity label="Application" :name="model.name" @del="del" @edit="edit()"></header-view-entity>
  </div>

  <div class="col-xs-12 mt10 row">
    <displayer class="col-sm-2 col-xs-4 mt20" v-for="item, i in viewDisplayer" :key="i" :type="item.type || 'info'" v-if="item.val">
      <h4 class="white">{{item.val}}</h4>
    </displayer>
  </div>

  <div class="col-xs-6">
    <info-view :data="filtered"></info-view>
  </div>

  <div class="col-xs-6">

    <creater-config-list label="Server" :basket="list_servers" @edit="edit" :index="3" icons="fa-server">
      <template slot="view" scope="props">
        <b>{{props.item.hostname}}</b> <span v-if='props.item.os'>({{props.item.os.base}})</span><span v-if="props.item.datacenters"> - {{props.item.datacenters.name}}</span><br/>
          <bs-label type='default'>{{props.item.ipv4_private}}</bs-label>
          <bs-label type='default'>{{props.item.ipv4_public}}</bs-label>
          <bs-label type='success'>{{props.item.role}}</bs-label>
          <bs-label type='success'>{{props.item.environment}}</bs-label>
      </template>
    </creater-config-list>


    <creater-config-list label="Deploy" :basket="model.deploy" @edit="edit" :index="4" icons="fa-code-fork">
      <template slot="view" scope="props">
        {{props.item.type}}
        <bs-label>{{props.item.provider}}</bs-label>
      </template>
    </creater-config-list>

    <creater-config-list label="Tag" :basket="model.tags" @edit="edit" :index="5" icons="fa-tags">
      <template slot="view" scope="props">
        <bs-label>{{props.item.key}}</bs-label> - {{props.item.value}}
      </template>
    </creater-config-list>

  </div>

</div>
