<div>
  <div class="pb10">
    <header-view-entity label="Application" :name="model.name" @del="del" @edit="edit()"></header-view-entity>
  </div>

  <div class="col-xs-12 mt10 row">
    <displayer class="col-xs-2" v-if="model.environment">
      <h3 class="white">{{model.environment}}</h3>
    </displayer>
    <displayer class="col-xs-2" v-if="model.language">
      <h3 class="white">{{model.language}}</h3>
    </displayer>
    <displayer class="col-xs-2" type="primary" v-if="existGet(model, 'system.name')">
      <h3 class="white">{{model.system.name}}</h3>
    </displayer>
    <displayer class="col-xs-2" type="primary" v-if="existGet(model, 'role.role')">
      <h3 class="white">{{model.role.role}}</h3>
    </displayer>
    <displayer class="col-xs-2" type="primary" v-if="model.servers">
      <h3 class="white"><b>{{model.servers.length}}</b> Servers</h3>
    </displayer>
  </div>

  <div class="col-xs-6">
    <h3><i class="fa fa-info" aria-hidden="true"></i> Info</h3>

    <table class="table table-striped">
      <tbody>

      <tr v-for="item, key in filtered">
        <th width="30%" class="text-capitalize">{{key}}:</th>
        <td>

          <template v-if="isArray(item)">
            <ul class="pl0">
              <li v-for="i2 in item">
                <template v-for="i3, k in i2">
                  <strong>{{k}}: </strong> {{i3}}<br/>
                </template>
              </li>
            </ul>
          </template>

          <template v-if="isObject(item)">
            <template v-for="o1, ok in item">
              <strong>{{ok}}: </strong> {{o1}}<br/>
            </template>
          </template>

          <template v-if="isString(item)">
            {{ item }}
          </template>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

  <div class="col-xs-6">

    <div class="col-xs-12">
      <h3><i class="fa fa-server" aria-hidden="true"></i> Servers
        <bs-label type="default" class="pull-right" v-if="list_servers">{{list_servers.length}}</bs-label>
      </h3>

      <ul class="list-group">
        <li class="list-group-item" v-for="item in list_servers">
          <div class="row">
            <div class="col-xs-10">
              <b>{{item.hostname}}</b> <span v-if='item.os'>({{item.os.base}})</span><span v-if='item.datacenters'> - {{item.datacenters.name}}</span><br/>
              <h5 class='ft15'>
                <bs-label type='default'>{{item.ipv4_private}}</bs-label>
                <bs-label type='default'>{{item.ipv4_public}}</bs-label>
                <bs-label type='success'>{{item.role}}</bs-label>
                <bs-label type='success'>{{item.environment}}</bs-label>
              </h5>
            </div>

            <div class="col-xs-2 text-right">
              <button class="btn btn-success btn-xs" @click.prevent="deleteAuth(index)"><i
                class="fa fa-cog" aria-hidden="true"></i></button>
            </div>
          </div>
        </li>
      </ul>

      <button class="btn btn-primary pull-right" @click.prevent="editE(model, 3)"><i
        class="fa fa-server" aria-hidden="true"></i> Manage Servers
      </button>
    </div>

    <div class="col-xs-12">
      <h3><i class="fa fa-code-fork" aria-hidden="true"></i> Deploy
        <bs-label type="default" class="pull-right" v-if="model.deploy">{{model.deploy.length}}</bs-label>
      </h3>

      <ul class="list-group">
        <li class="list-group-item" v-for="stg in model.deploy">
          {{stg.type}}
          <bs-label>{{stg.provider}}</bs-label>

          <div class="pull-right">
            <button class="btn btn-success btn-xs" @click.prevent="deleteAuth(index)"><i
              class="fa fa-cog" aria-hidden="true"></i></button>

          </div>

        </li>
      </ul>

      <button class="btn btn-primary pull-right" @click.prevent="editE(model, 3)"><i
        class="fa fa-code-fork" aria-hidden="true"></i> Manage Deploy
      </button>
    </div>


    <div class="col-xs-12">
      <h3><i class="fa fa-tags" aria-hidden="true"></i> Tags
        <bs-label type="default" class="pull-right" v-if="model.tags">{{model.tags.length}}</bs-label>
      </h3>

      <ul class="list-group">
        <li class="list-group-item" v-for="stg in model.tags">
          <bs-label>{{stg.key}}</bs-label>
          - {{stg.value}}
        </li>
      </ul>

      <button class="btn btn-primary pull-right" @click.prevent="editE(model, 4)"><i
        class="fa fa-tags" aria-hidden="true"></i> Manage Tags
      </button>
    </div>


  </div>

</div>
