@import '~components/bootue/_core/variables';
@import '~components/bootue/_core/mixins';

.tracking-mask {
  overflow: auto;
  height: 100%;
  max-height: 600px;

  .tracking-grid {
    display: flex;
    align-items: center;
    -webkit-overflow-scrolling: touch;

    .tracking-table {
      flex-grow: 1;
      flex-wrap: nowrap;
      align-self: flex-start;

      padding: 0 10px;

      border-right: 1px dotted #250c49;
      width: 450px;
      max-width: 33%;
      box-sizing: content-box;

      td:last-child {
        word-break: break-all;
      }

      &:last-child {
        border: none;
      }

      @media only screen and (max-width: $screen-md-max) {
        width: 90%;
        max-width: 90%;
        min-width: 350px;
        overflow: hidden;
      }
    }

    .isEmpty {
      text-decoration: line-through;
      color: #fff;
      background-color: #f00 !important;
    }
  }
}
