<div>

  <modal :title="text.title" effect="fade" width="800" v-model="showModal" @closed="closed" @opened="reset">

    <form class="row form-horizontal" @submit.prevent="createSave">

      <tabs v-model="tabShow" nav-style="tabs" justified class="col-xs-12">

        <!-- ================= General ================= -->
        <!-- ============================================== -->
        <tab header="General">
          <div class="row">

            <div class="col-xs-12">

            <div class="row">
                <div class="col-sm-3 col-xs-12 control-label">
                  <label>Status</label>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <button-group v-model="data.status" type="primary">
                    <bs-radio v-for="sts, i in options.status" :key="sts" :selected-value="sts">{{sts}}</bs-radio>
                  </button-group>
                </div>
              </div>

              <bs-input class="mt10" form-type="horizontal" name="name" label="Name*" v-model="data.name"
                        v-validate.initial="'required'" :error="makeError('name')"></bs-input>

              <bs-input type="number" class="mt10" form-type="horizontal" name="size" label="Size*" v-model="data.size"
              v-validate.initial="'required'" :error="makeError('size')"></bs-input>

              <bs-input type="number" class="mt10" form-type="horizontal" name="iops" label="Iops" v-model="data.iops" help="Per second"></bs-input>

              <bs-input class="mt10" form-type="horizontal" name="volume_type" label="Volume type" v-model="data.volume_type"></bs-input>

              <hr>

              <div class="row" id="baseStorage">
                <div class="col-sm-3 col-xs-12 control-label">
                  <label>Encrypted</label>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <button-group v-model="data.encrypted" type="default">
                    <bs-radio selected-value="true">Yes</bs-radio>
                    <bs-radio selected-value="false">No</bs-radio>
                  </button-group>
                </div>
              </div>

              <bs-input class="mt10" form-type="horizontal" name="unique_id" label="Unique ID*" v-model="data.unique_id"
              help="Unique name, normally used for UUID provided by providers" @blur="verifyDuplicate"></bs-input>

              <template v-if="duplicate.unique_id">
                <span class="btn btn-danger btn-xs col-xs-12">{{duplicate.unique_id}}</span>
              </template>
            </div>
          </div>

        </tab>


        <!-- ================= Datacenters ================= -->
        <!-- ============================================== -->
        <tab header="Datacenters">
          <tab-app-dc @update="val => data.datacenters = val" ref="tab_app_dc"></tab-app-dc>
        </tab>

        <!-- ================= Tags ================= -->
        <!-- ============================================== -->
        <tab header="Tags">
          <tab-tags @update="val => data.tags = val" ref="tab_tags"></tab-tags>
        </tab>
      </tabs>

    </form>


    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="closed">Cancel</button>
      <button type="button" class="btn btn-primary" @click="actionClick" :disabled="errors.any()">Save</button>
    </div>

  </modal>

</div>
