<div>
  <bs-list v-if="showList">
    <li class="list-group-item row" v-for="regions, provider in model.value.baser">
      <div class="row">
        <div class="col-xs-6">{{provider}}</div>
        <div class="col-xs-6 text-right">
          <button class="btn btn-xs btn-primary" @click.prevent="regionsE({regions, provider})">
            <i class="fa fa-cloud-upload"></i>
            Regions ({{regions.length}})
          </button>
        </div>
      </div>
    </li>
  </bs-list>

  <modal-regions ref="modal_regions" @update="editSave"></modal-regions>
</div>
