<div>
  <button class="btn btn-primary pull-right" @click="createModal = true">New Access Role</button>

  <modal title="Create new role" effect="fade" width="800" v-model="createModal" @closed="closed">

    <form id="createAr1" class="row" v-if="step == 1">

      <section class="col-sm-offset-2 col-sm-8">

        <bs-input type="text" label="Name" required class="col-xs-12 mt10" icon></bs-input>

        <h4 class="col-xs-12 mt10">Default Access Role</h4>

        <div class="col-xs-12">
          <bsselect class="wd100" justified placeholder="Select type">
            <bs-option>Admin</bs-option>
            <bs-option>Developer</bs-option>
            <bs-option>Leitor</bs-option>
          </bsselect>
        </div>


      </section>

    </form>

    <form id="createAr2" class="row" v-if="step == 2">

      <h5 class="col-xs-12">Choose the initial teams
        <small>(You can choose later.)</small>
      </h5>
      <bs-input type="text" label="Teams" required class="col-xs-12" icon></bs-input>

      <div class="col-xs-12 text-right">
        <button class="btn btn-primary">Add Team</button>

        <hr/>

        <ul class="list-group mt20">
          <li class="list-group-item">
            <button class="btn btn-danger btn-xs pull-left">
              <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </button>
            B2W
          </li>
        </ul>
      </div>

    </form>

    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="closed">Cancel</button>
      <button type="button" class="btn btn-default" @click="previousMethod" v-if="previousValid">Previous</button>
      <button type="button" class="btn btn-success" @click="nextMethod" v-if="forwardValid">Next</button>
      <button type="button" class="btn btn-primary" @click="saveMethod" v-if="finalValid">Create</button>
    </div>

  </modal>
</div>
