<div class="col-xs-12 page">

  <div class="bg-white">
    <div class="row">
      <h3 class="col-xs-9">Servers news</h3>
      <h3 class="col-xs-3">Quick Links</h3>

      <most-services v-if="getLast('servers').length > 0" :results="result.servers.items"></most-services>

      <server-widget :servers="getLast('servers')"></server-widget>

      <server-widget :servers="getLast('servers', 5)"></server-widget>

      <links-widget :links="links"></links-widget>

      <p class="text-right col-xs-9" v-if="getLast('servers').length > 0">Total Servers <b>{{result.servers.found}}</b></p>
    </div>

    <div class="row">
      <h3 class="col-xs-12">Apps news</h3>

      <apps-widget :apps="getLast('applications')"></apps-widget>

      <most-families v-if="getLast('applications').length > 0" :results="result.applications.items"></most-families>

      <apps-widget :apps="getLast('applications', 5)"></apps-widget>

      <apps-widget :apps="getLast('applications', 10)"></apps-widget>

      <p class="text-right col-xs-12" v-if="getLast('applications').length > 0">Total Apps <b>{{result.applications.found}}</b></p>
    </div>

    <div class="row">
      <h3 class="col-xs-6">Datacenters avaliable</h3>
      <h3 class="col-xs-6">System news</h3>

      <dc-widget :items="getLast('datacenters')"></dc-widget>

      <most-providers v-if="getLast('datacenters').length > 0" :results="result.datacenters.items"></most-providers>

      <system-widget :items="getLast('system')"></system-widget>

      <most-clients v-if="getLast('system').length > 0" :results="result.system.items"></most-clients>


      <p class="text-right col-xs-3" v-if="getLast('datacenters').length > 0">Total dcs <b>{{result.datacenters.found}}</b></p>
      <p class="text-right col-xs-3 col-xs-offset-3" v-if="getLast('system').length > 0">Total system <b>{{result.system.found}}</b></p>
    </div>
  </div>

</div>

