<div class="col-xs-12 page">

  <div class="bg-white">
    <div class="row">
      <h3 class="col-xs-9">Servers news</h3>
      <h3 class="col-xs-3">Quick Links</h3>

      <template v-if="load.servers && result.servers.items.length > 0">
        <most-multi :results="result.servers.items" fielder="services" :ptitle="`Most services installed (last ${this.limit} server)`"></most-multi>

        <server-widget :servers="getLast('servers')"></server-widget>

        <server-widget :servers="getLast('servers', 5)"></server-widget>
      </template>

      <template v-if="load.servers && result.servers.items.length == 0">
        <div class="col-xs-9 text-center">
          <well>Not enough data <router-link :to="{name: 'servers'}" class="btn btn-primary">Create your first server</router-link></well>
        </div>
      </template>

      <links-widget :links="links"></links-widget>

      <p class="text-right col-xs-9" v-if="getLast('servers').length > 0">Total Servers <b>{{result.servers.found}}</b></p>
    </div>

    <div class="row">
      <h3 class="col-xs-12">Apps news</h3>

      <template v-if="load.applications && result.applications.items.length > 0">
        <apps-widget :apps="getLast('applications')"></apps-widget>

        <most-single :results="result.applications.items" fielder="family" :ptitle="`Most types used (last ${this.limit} apps)`"></most-single>

        <most-single :results="result.applications.items" fielder="environment" :ptitle="`Most env installed (last ${this.limit} apps)`"></most-single>

        <apps-widget :apps="getLast('applications', 5)"></apps-widget>
      </template>

      <template v-if="load.applications && result.applications.items.length == 0">
        <div class="col-xs-12 text-center">
          <well>
            Not enough data <router-link :to="{name: 'application'}" class="btn btn-primary">Create your first app</router-link>
          </well>
        </div>
      </template>



      <p class="text-right col-xs-12" v-if="getLast('applications').length > 0">Total Apps <b>{{result.applications.found}}</b></p>
    </div>

    <div class="row">
      <h3 class="col-xs-6">Datacenters avaliable</h3>
      <h3 class="col-xs-6">System news</h3>

      <template v-if="load.datacenters && result.datacenters.items.length > 0">
        <dc-widget v-if="load.datacenters" :items="getLast('datacenters')"></dc-widget>

        <most-single v-if="load.datacenters" :results="result.datacenters.items" fielder="provider" :ptitle="`Most provider updated (last ${this.limit} dcs)`"></most-single>
      </template>

      <template v-if="load.datacenters && result.datacenters.items.length == 0">
        <div class="col-xs-6 text-center">
          <well>Not enough data <router-link :to="{name: 'datacenter'}" class="btn btn-primary">Create your first dc</router-link></well>
        </div>
      </template>

      <template v-if="load.system && result.system.items.length > 0">
        <system-widget v-if="load.system" :items="getLast('system')"></system-widget>

        <most-multi v-if="load.system" :results="result.system.items" fielder="clients" :ptitle="`Most clients updated (last ${this.limit} system)`"></most-multi>
      </template>

      <template v-if="load.system && result.system.items.length == 0">
        <div class="col-xs-6 text-center">
          <well>
            Not enough data
            <router-link :to="{name: 'system'}" class="btn btn-primary">Create your first system</router-link>
          </well>
        </div>
      </template>

      <p class="text-right col-xs-3" v-if="getLast('datacenters').length > 0">Total dcs <b>{{result.datacenters.found}}</b></p>
      <p class="text-right col-xs-3 col-xs-offset-3" v-if="getLast('system').length > 0">Total system <b>{{result.system.found}}</b></p>
    </div>
  </div>

</div>

