<div>
  <div class="pb10">
    <header-view-entity label="System" :name="model.name" @del="del" @edit="edit()"></header-view-entity>
  </div>

  <div class="col-xs-6">
    <info-view :data="filtered"></info-view>
  </div>

  <div class="col-xs-6">

    <creater-config-list label="Application" :basket="model.list_apps" @edit="editM" icons="fa-superpowers">
      <template slot="view" scope="props">
        <b class="text-capitalize">{{props.item.name}}</b> <span v-if='props.item.environment'>({{props.item.environment}})</span>
        <h5 class='ft15 inline'>
          <bs-label type='default' v-if='props.item.family'>{{props.item.family}}</bs-label>
          <bs-label type='default' v-if='props.item.spec'>{{props.item.spec.role}}</bs-label>
        </h5>
      </template>
    </creater-config-list>

    <creater-config-list label="Client" :basket="model.clients" @edit="edit" :index="2" icons="fa-user-o"></creater-config-list>

    <creater-config-list label="Link" :basket="model.check" @edit="edit" :index="3" icons="fa-link">
      <template slot="view" scope="props">
        <bs-label>{{props.item.key}}</bs-label> - {{props.item.value}}
      </template>
    </creater-config-list>

    <creater-config-list label="Tag" :basket="model.tags" @edit="edit" :index="5" icons="fa-tags">
      <template slot="view" scope="props">
        <bs-label>{{props.item.key}}</bs-label> - {{props.item.value}}
      </template>
    </creater-config-list>

  </div>

</div>
