
@import '~bootue/src/_core/variables';
@import '~bootue/src/_core/mixins';

.dp-container {
    display: flex;
    justify-content: center;
    background: #f9f9f9;
    flex-direction: column;

    .dp-wrapper {
      position: relative;
    }

    .dp-row {
        display: flex;
        justify-content: center;
        flex-direction: row;
        background: #d6d6d6;
        margin-bottom: 35px;
        padding: 6px 0;
        overflow-x: auto;

        .dp-item {
            max-width: 115px;
            color: #fff;
            padding: 10px 8px;
            margin: 5px;
            cursor: pointer;
            border-radius: 6px;
            box-shadow: 1px 1px 20px #848484;

            background: $brand-primary;
            @include themify($themes) {
              background: themed('brand-primary');
            }

          .dst {
            padding: 3px;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.3);
          }
        }
    }

    .dp-row-no {
        background: none;
    }

    .more {
        text-align: center;
        width: 30px;
        line-height: 30px;
        height: 30px;
        margin: auto 15px;
        position: relative;
        display: inline-block;
        background: #fff;
        border-radius: 20px;

        font-weight: bold;
        box-shadow: 0 0 20px #848484;
        cursor: pointer;
        text-decoration: none;

        color: $brand-primary;
        @include themify($themes) {
            color: themed('brand-primary');
        }
    }

    .more-del {
      width: 20px;
      height: 20px;
      line-height: 20px;
      left: 50%;
      margin-left: -10px;
      color: #fff;

      background: $brand-danger;
      box-shadow: 0 1px 4px #fff;
    }

    .more-del:hover {
      background: #fff;
      color: $brand-danger;
    }

    .more-right {
      position: absolute;
      margin: 0 50%;
      top: -25px;
      left: -15px;
    }

    .more:hover {
        background: #ededed;
    }
}
