<div>
  <div class="pb10">
    <header-view-entity :label="entity.name" :name="model.name" @del="del" @edit="edit()" @acl="acl"></header-view-entity>
  </div>

  <div class="col-xs-12 mt10 bg-gray-lighter">
    <displayer class="col-sm-2 col-xs-4 mt20" v-for="item, i in viewDisplayer" :key="i" :type="item.type || 'info'"
               v-if="item.val">
      <h4 class="white">{{item.val}}</h4>
    </displayer>
  </div>

  <div>
    <div class="mt20 col-xs-12 alert alert-danger text-center" v-if="model.msg">{{model.msg}}</div>
  </div>

  <div class="col-xs-6">
    <info-view :data="filtered"></info-view>
  </div>

  <div class="col-xs-6">

    <creater-config-list label="Arg" :basket="model.args" @edit="edit" :index="2" icons="fa-tags">
      <template slot="view" slot-scope="props">
        <bs-label>{{props.item.key}}</bs-label>
        - {{props.item.value}}
      </template>
    </creater-config-list>

    <creater-config-list label="Chain" :basket="model.chain" @edit="edit" :index="4" icons="fa-chain">
      <template slot="view" slot-scope="props">
        <bs-label>{{props.item.name}}</bs-label>
        <br>Countdown: <bs-label>{{props.item.countdown}}</bs-label>
        | Order: <bs-label>{{props.item.order}}</bs-label>
      </template>
    </creater-config-list>

    <creater-config-list label="Event" :basket="events" icons="fa-info-circle" :showManangerBTN="false">
      <template slot="view" slot-scope="props">

        <accordion type="warning" class="row">
          <panel>
              <span slot="header">
                <bs-label>{{props.item.context}}</bs-label>
                <bs-label :type="props.item.status">{{props.item.status}}</bs-label>
                <bs-label type="info">{{props.item.created_at}}</bs-label>
                <i class="fa fa-arrow-down"></i>

                <br>Message: {{props.item.msg}}
              </span>

            {{props.item.description}}
          </panel>
        </accordion>
      </template>
    </creater-config-list>


  </div>

</div>
