<div>
  <div class="pb10">
    <header-view-entity label="Server" :name="model.hostname" @del="del" @edit="edit()" @acl="acl"></header-view-entity>
  </div>

  <div class="col-xs-12 mt10 bg-gray-lighter">
    <displayer class="col-sm-2 col-xs-4 mt20" v-for="item, i in viewDisplayer" :key="i" :type="item.type || 'info'"
               v-if="item.val">
      <h4 class="white">{{item.val}}</h4>
    </displayer>
  </div>

  <div class="col-xs-6 mt10">
    <info-view :data="filtered"></info-view>
  </div>

  <div class="col-xs-6 mt10 wrapperServer">

    <creater-config-list label="Service" :basket="model.services" @edit="edit" :index="4">
      <template slot="view" slot-scope="props">

        <accordion type="warning" class="row">
          <panel>
              <span slot="header">
                <i :class="toLower(props.item.name, 'icon-')" class="fa fa-genderless text-center w18"></i>
                {{props.item.name}} <span v-if="props.item.version"> -> </span><bs-label>{{props.item.version}}</bs-label>
                <i class="fa fa-arrow-down"></i>
                <div class="pull-right">
                  <button class="btn btn-success btn-xs" @click.prevent.stop="callConfig(props)"><i
                    class="fa  fa-cog" aria-hidden="true"></i></button>
                </div>
              </span>

            <info-view :data="props.item" :title="false"></info-view>
          </panel>
        </accordion>

      </template>
    </creater-config-list>

    <creater-config-list label="Account" :basket="model.auth" @edit="edit" :index="3" icons="fa-cog">
      <template slot="view" slot-scope="props">
        <bs-label>{{props.item.type}}</bs-label>
        {{props.item.username}} <span v-if="props.item.name">({{props.item.name}})</span>
      </template>
    </creater-config-list>

    <creater-config-list label="Storage" :basket="model.storage" @edit="edit" :index="2" icons="fa-hdd-o">
      <template slot="view" slot-scope="props">
        {{props.item.name}} -
        <bs-label>{{props.item.size}} GB</bs-label>
        <bs-label type="danger" v-if="props.item.root == 'root'">root</bs-label>
      </template>
    </creater-config-list>

    <creater-config-list label="Tag" :basket="model.tags" @edit="edit" :index="5" icons="fa-tags">
      <template slot="view" slot-scope="props">
        <bs-label>{{props.item.key}}</bs-label>
        - {{props.item.value}}
      </template>
    </creater-config-list>

  </div>

  <modal-config class="mt15" ref="modal_config" :provider="model"></modal-config>
</div>
