<div>
  <div class="pb10">
    <header-view-entity label="Server" :name="model.hostname" :id="model._id" :entity="getName" @del="del" @edit="edit()" @acl="acl"></header-view-entity>
  </div>

  <div class="col-xs-12 mt10 bg-gray-lighter">
    <displayer class="col-md-2 col-sm-3 col-xs-12 mt20" v-for="item, i in viewDisplayer" :key="i" :type="item.type || 'info'"
               v-if="item.val">
      <h4 class="white">{{item.val}}</h4>
    </displayer>
  </div>

  <div class="col-sm-6 col-xs-12 mt10">
    <info-view :data="filtered"></info-view>
  </div>

  <div class="col-sm-6 col-xs-12 mt10 wrapperServer">

    <creater-config-list label="Service" :basket="model.services" @edit="edit" :index="4">
      <template slot="view" slot-scope="props">

        <accordion type="warning" class="row">
          <panel>
              <span slot="header">
                <i :class="toLower(props.item.name, 'icon-')" class="fa fa-genderless text-center w18"></i>
                {{props.item.name}} <span v-if="props.item.version"> -> </span><bs-label>{{props.item.version}}</bs-label>
                <i class="fa fa-arrow-down"></i>
                <div class="pull-right">
                  <button class="btn btn-success btn-xs" @click.prevent.stop="callConfig(props)"><i
                    class="fa  fa-cog" aria-hidden="true"></i></button>
                </div>
              </span>

            <info-view :data="props.item" :title="false"></info-view>
          </panel>
        </accordion>

      </template>
    </creater-config-list>

    <creater-config-list label="Storage" :basket="model.storage" @edit="edit" :index="2" icons="fa-hdd-o">
      <template slot="view" slot-scope="props">

          <accordion type="warning" class="row">
            <panel>
                <span slot="header">
                  <i class="fa fa-hdd-o text-center w18"></i>
                  {{props.item.name}} -
                  <bs-label type="info" v-if="props.item.unique_id">{{showListVolumes(props.item, '.status')}}</bs-label>

                  <bs-label v-if="props.item.unique_id">Attached</bs-label>
                  <bs-label v-if="!props.item.unique_id">Built-In</bs-label>

                  <bs-label v-if="props.item.size">{{props.item.size}} GB</bs-label>
                  <bs-label v-if="props.item.unique_id">{{showListVolumes(props.item, '.size')}} GB</bs-label>

                  <bs-label type="danger" v-if="props.item.root == 'root'">root</bs-label>

                  <bs-label type="primary" v-if="props.item.mount">{{props.item.mount}}</bs-label>
                  <bs-label type="primary" v-if="props.item.ftype">{{props.item.ftype}}</bs-label>

                  <i class="fa fa-arrow-down"></i>

                  <div class="pull-right">
                    <button class="btn btn-success btn-xs" @click.prevent.stop="callVolumes(props)"><i
                      class="fa  fa-cog" aria-hidden="true"></i></button>
                  </div>

                  <br>
                  <div v-if="props.item.lvm == true" class="mt10">
                    LVM:
                    <bs-label type="info" v-if="props.item.pv">PV: {{props.item.pv}}</bs-label>
                    <bs-label type="info" v-if="props.item.vg">VG: {{props.item.vg}}</bs-label>
                  </div>

                </span>

              <info-view :data="showListVolumes(props.item, '', true)" :title="false"></info-view>
            </panel>
          </accordion>

      </template>
    </creater-config-list>

    <creater-config-list label="Account" :basket="model.auth" @edit="edit" :index="3" icons="fa-cog">
      <template slot="view" slot-scope="props">
        <bs-label>{{props.item.type}}</bs-label>
        {{props.item.username}} <span v-if="props.item.name">({{props.item.name}})</span>
      </template>
    </creater-config-list>

    <creater-config-list label="Tag" :basket="model.tags" @edit="edit" :index="5" icons="fa-tags">
      <template slot="view" slot-scope="props">
        <bs-label>{{props.item.key}}</bs-label>
        - {{props.item.value}}
      </template>
    </creater-config-list>

    <creater-config-list label="Application" :basket="list_applications" @edit="editM" icons="fa-code">
      <template slot="view" slot-scope="props">
        <div class="row">
          <div class="col-sm-7 col-xs-12">
            <h4>
              <router-link :to="{name: `${slugApps(props.item.family)}.single`, params: { id: props.item._id }}" target="_blank">
                {{props.item.name}}
                <i class="fa  fa-eye" aria-hidden="true"></i>
              </router-link>
            </h4>
            <bs-label>{{props.item.family}}</bs-label>
            <bs-label>{{props.item.environment}}</bs-label>
            <bs-label>{{props.item.provider}}</bs-label>
            <bs-label>{{props.item.language}}</bs-label>

            <info-view :data="props.item.role" :title="false" class="mt10"></info-view>
          </div>
          <div class="col-sm-5 col-xs-12">

            <template v-if="props.item.system && props.item.system.length > 0">
              <h5>System</h5>
              <ul>
                <li v-for="system in props.item.system">
                  <router-link :to="{name: 'system.single', params: { id: system._id }}" class="break">
                    {{system.name}}
                  </router-link>
                </li>
              </ul>
            </template>
            <template v-if="props.item.targets">
              <h5>Targets</h5>
              <ul>
                <li v-for="target in props.item.targets">
                  <router-link :to="{name: 'servers.single', params: { id: target }}" class="break">
                    {{target}}
                  </router-link>
                </li>
              </ul>
            </template>
            <template v-if="props.item.servers">
              <h5>Servers</h5>
              <ul>
                <li v-for="server in props.item.servers">
                  <router-link :to="{name: 'servers.single', params: { id: server }}" class="break">
                    {{server}}
                  </router-link>
                </li>
              </ul>
            </template>
          </div>
        </div>
      </template>
    </creater-config-list>

  </div>

  <modal-config class="mt15" ref="modal_config" :provider="model"></modal-config>
  <modal-volumes class="mt15" ref="modal_volumes" :provider="model"></modal-volumes>
</div>
