<div>
  <div class="pb10">
    <h3 class="col-xs-7 pb10">
      Server - <span class="text-capitalize">{{model.hostname}}</span>
    </h3>
    <div class="col-xs-5 pb10 mt20 text-right">
      <button class="btn btn-warning" @click="editE(model)">Edit ACL</button>
      <button class="btn btn-success" @click="editE(model)">Edit <span class="text-capitalize">{{model.hostname}}</span></button>
      <button class="btn btn-danger" @click="deleteE(model)">Delete server</button>
    </div>
  </div>

  <div class="col-xs-12 mt10">
    <displayer class="col-xs-2" :type="activeShow">
      <h3 class="white">{{model.status || 'Active'}}</h3>
    </displayer>
    <displayer class="col-xs-2" type="warning" v-if="model.environment">
      <h3 class="white">{{model.environment}}</h3>
    </displayer>
    <displayer class="col-xs-2" type="warning" v-if="model.role">
      <h3 class="white">{{model.role}}</h3>
    </displayer>
    <displayer class="col-xs-2" type="primary" v-if="existGet(model, 'os.base')">
      <h3 class="white">{{model.os.base}}</h3>
    </displayer>
    <displayer class="col-xs-2" type="primary" v-if="existGet(model, 'dc.name')">
      <h3 class="white">{{model.dc.name}}</h3>
    </displayer>
    <displayer class="col-xs-2" type="primary" v-if="model.ipv4_private">
      <h3 class="white">{{model.ipv4_private}}</h3>
    </displayer>
  </div>

  <div class="col-xs-6">
    <h3> <i class="fa fa-info" aria-hidden="true"></i> Info</h3>

    <table class="table table-striped">
      <tbody>

        <tr v-for="item, key in filtered">
          <th width="30%" class="text-capitalize">{{key}}: </th>
          <td>

            <template v-if="isArray(item)">
              <ul class="pl0">
                <li v-for="i2 in item">
                  <template v-for="i3, k in i2">
                    <strong>{{k}}: </strong> {{i3}}<br/>
                  </template>
                </li>
              </ul>
            </template>

            <template v-if="isObject(item)">
              <template v-for="o1, ok in item">
                <strong>{{ok}}: </strong> {{o1}}<br/>
              </template>
            </template>

            <template v-if="isString(item)">
              {{ item }}
            </template>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="col-xs-6">

    <div class="col-xs-12">
      <h3><i class="fa fa-cogs" aria-hidden="true"></i> Services <bs-label type="default" class="pull-right" v-if="model.services">{{model.services.length}}</bs-label></h3>

      <ul class="list-group">
        <li class="list-group-item" v-for="service in model.services">
          {{service.name}}

          <div class="pull-right">
            <button class="btn btn-success btn-xs" @click.prevent="deleteAuth(index)"><i
              class="fa fa-cog" aria-hidden="true"></i></button>

          </div>
        </li>
      </ul>

      <button class="btn btn-primary pull-right" @click.prevent="editE(model, 4)"><i
        class="fa fa-cogs" aria-hidden="true"></i> Manage Service</button>
    </div>

    <div class="col-xs-12">
      <h3><i class="fa fa-cog" aria-hidden="true"></i> Accounts <bs-label type="default" class="pull-right" v-if="model.auth">{{model.auth.length}}</bs-label></h3>

      <ul class="list-group">
        <li class="list-group-item" v-for="stg in model.auth">
          {{stg.name}} -> Type:
          <bs-label>{{stg.type}}</bs-label>
          - Username:
          <bs-label type="default">{{stg.username}}</bs-label>

          <div class="pull-right">
            <button class="btn btn-success btn-xs" @click.prevent="deleteAuth(index)"><i
              class="fa fa-cog" aria-hidden="true"></i></button>

          </div>

        </li>
      </ul>

      <button class="btn btn-primary pull-right" @click.prevent="editE(model, 3)"><i
        class="fa fa-key" aria-hidden="true"></i> Manage Authentication</button>
    </div>

    <div class="col-xs-12">
      <h3><i class="fa fa-hdd-o" aria-hidden="true"></i> Storages <bs-label type="default" class="pull-right" v-if="model.storage">{{model.storage.length}}</bs-label></h3>

      <ul class="list-group">
        <li class="list-group-item" v-for="stg in model.storage">
          {{stg.name}} -
          <bs-label>{{stg.size}} GB</bs-label>
          <bs-label type="danger" v-if="stg.root == 'root'">root</bs-label>

        </li>
      </ul>

      <button class="btn btn-primary pull-right" @click.prevent="editE(model, 2)"><i
        class="fa fa-hdd-o" aria-hidden="true"></i> Manage Storage</button>
    </div>

    <div class="col-xs-12">
      <h3><i class="fa fa-tags" aria-hidden="true"></i> Tags <bs-label type="default" class="pull-right" v-if="model.tags">{{model.tags.length}}</bs-label></h3>

      <ul class="list-group">
        <li class="list-group-item" v-for="stg in model.tags">
          <bs-label>{{stg.key}}</bs-label>
          - {{stg.value}}
        </li>
      </ul>

      <button class="btn btn-primary pull-right" @click.prevent="editE(model, 5)"><i
        class="fa fa-tags" aria-hidden="true"></i> Manage Tags</button>
    </div>


  </div>

</div>
