<div class="o-scroll">
  <h3 v-if="title"><i class="fa fa-info" aria-hidden="true"></i> {{title}}</h3>

  <table class="table table-striped">
    <tbody>

    <template v-if="!isString(data)">
      <tr v-for="item, key in data">
        <th class="text-capitalize">{{key}}:</th>
        <td>
          <tree-view :items="item"></tree-view>
        </td>
      </tr>
    </template>

    <template v-if="isString(data)">
      <tr>
        <td>
          {{data}}
        </td>
      </tr>
    </template>

    </tbody>
  </table>
</div>
